@use "@/globalstyles/v2/layout.scss" as layout;
@use "@/globalstyles/v2/border.scss" as border;
@use "@/globalstyles/v2/colors.scss" as colors;
@use "@/globalstyles/v2/motion.scss" as motion;

/* Main toggle switch container */
.toggle {
    position: relative;
    display: inline-block;
    min-width: layout.$spacing-05;
    width: layout.$spacing-09;
    height: layout.$spacing-05;

    /* Hidden checkbox input */
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* Common Slider (Toggle Background) Styles */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--color-border-secondary); /* Default background color */
        border-radius: border.$border-radius-large; /* Rounded slider */
        transition: background-color motion.$duration-slow-01 motion.$easing-productive-exit;

        /* Common knob (Toggle Button) Styles */
        &:before {
            content: "";
            position: absolute;
            height: layout.$spacing-04;
            width: layout.$spacing-04;
            left: layout.$spacing-02 / 2;
            bottom: layout.$spacing-02 / 2;
            background-color: var(--color-primary);
            border-radius: border.$border-radius-large; /* Rounded slider */
            border: layout.$spacing-03 solid var(--color-border-mute);
            box-shadow: 0 2px 4px rgba(14, 18, 27, 0.08), 0 4px 8px rgba(27, 28, 29, 0.06); /* Subtle shadow */
            transition: background-color motion.$duration-slow-01 motion.$easing-productive-exit, transform motion.$duration-moderate-02 motion.$easing-productive-exit;
        }
    }

    /* Checked State */
    input[type="checkbox"]:checked + .slider {
        background-color: var(--color-primary); /* Background when checked */

        &:before {
            transform: translateX(layout.$spacing-07); /* Move knob to the right */
            background-color: var(--color-bg); /* Knob color when checked */
        }
    }

    /* Focus State (for accessibility) */
    &:focus-within .slider {
        box-shadow: 0 0 1px var(--color-primary);
    }

    /* Hover State */
    &:hover .slider {
        background-color: var(--color-border-secondary); /* Darker background when hovered */
    }

    &:hover input[type="checkbox"]:checked + .slider {
        background-color: var(--color-border-primary); /* Darker blue when checked and hovered */

        &:before {
            background-color: var(--color-bg);
        }
    }

    /* Disabled State: Override only the necessary properties */
    input[type="checkbox"]:disabled + .slider {
        background-color: var(--color-muted);
        //border: 1px solid colors.$color-neutral-100;
        cursor: not-allowed;

        /* Override knob (before) styles in the disabled state */
        &:before {
            background-color: var(--color-bg);
            //border: layout.$spacing-6 solid colors.$color-neutral-100; /* Match knob border to background */
            border-color: var(--color-muted);
            //box-shadow: none; /* Remove shadow in disabled state */
            //bottom: 2px; /* Adjust knob position */
        }
    }

    input[type="checkbox"]:checked:disabled + .slider {
        background-color: var(--color-muted);
        border: none;
        cursor: not-allowed;

        &:before {
            background-color: var(--color-bg); /* Example: change knob color */
            cursor: not-allowed; /* Indicate that it's disabled */
        }
    }
}
