@use "@/design-tokens/layout" as layout;
@use "@/design-tokens/border" as border;
@use "@/design-tokens/motion" as motion;
@use "@/design-tokens/breakpoints" as breakpoints;

.tab-menu-horizontal-item {
    // height: layout.$spacing-03;
    display: flex;

    // align-items: center;
    // justify-content: center;
    gap: layout.$spacing-03;
    color: inherit;
    cursor: pointer;
    white-space: nowrap;
    transition: color motion.$duration-fast-01 motion.$easing-productive-standard,
                background-color motion.$duration-fast-01 motion.$easing-productive-standard;

    &__text {
        // vertical-align: center;

        @media (max-width: breakpoints.$breakpoint-md) {
            display: none;
        }
    }

    &__left-icon {
        // height: layout.$spacing-20;
        // width: layout.$spacing-20;
        align-content: center;
        text-align: center;

        // line-height: layout.$spacing-03;
    }

    &__right-icon {
        // height: layout.$spacing-20;
        // width: layout.$spacing-20;
        align-content: center;
        text-align: center;
    }

    &__badge {
        height: layout.$spacing-06;
        width: layout.$spacing-06;

        // align-content: center;
        // vertical-align: center;
        text-align: center;
        border-radius: border.$border-radius-round;
        background-color: var(--color-error-default);
        color: var(--color-white);
    }

    &--active {
        color: inherit;

        .tab-menu-horizontal-item__left-icon {
            color: inherit;
        }

        .tab-menu-horizontal-item__text {
            color: inherit;
        }
    }
}
