@use "@/design-tokens/layout" as layout;

.hint-text {
    display: flex;
    gap: layout.$spacing-03;
    align-items: center;
    color: var(--color-text-secondary-default);

    &--hide {
        display: none;
    }

    &--error {
        color: var(--color-error-default);
    }

    &--disabled {
        color: var(--color-text-disabled-default);
    }

    //@extend .paragraph-x-small;

}
