@use "@/design-tokens/layout" as layout;
@use "@/design-tokens/border" as border;
@use "@/design-tokens/colors" as colors;

@mixin feedback-style($color, $text-color, $link-color, $icon-color) {
  background-color: $color;
  color: $text-color;
  .feedback__link {
    color: $link-color;
  }

  .feedback__icon {
    color: $icon-color;
  }
  .feedback-detailed__buttons__separator {
    opacity: if($text-color == #ffffff, 0.72, 0.40);
  }
  .feedback__dismiss {
    opacity: if($text-color == #ffffff, 0.72, 0.40);
  }
}

.feedback {
  width: layout.$spacing-13 * 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: border.$border-radius-large;

  .feedback__icon, .feedback__dismiss {
    align-content: center;
    cursor: pointer;
  }

  &--small {
    gap: layout.$spacing-05;
    padding: layout.$spacing-02 layout.$spacing-03;
    .feedback__title {
      flex: 1;
    }
  }

  &--x-small {
    gap: layout.$spacing-03;
    padding: layout.$spacing-01 layout.$spacing-02;
    .feedback__icon, .feedback__dismiss {
      align-content: center;
      cursor: pointer;
    }

    .feedback__title {
      flex: 1;
    }
  }

  &--large {
    gap: layout.$spacing-05;
    padding: layout.$spacing-05 layout.$spacing-05;
    border-radius: border.$border-radius-large;
    align-items: baseline;

    .feedback-detailed__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: layout.$spacing-02;
    }
    .feedback-detailed__text {
      display: flex;
      flex-direction: column;
      gap: layout.$spacing-02;
    }

    .feedback__title {
    }
    .feedback__description {
    }

    .feedback-detailed__buttons {
      display: flex;
      flex-direction: row;
      gap: layout.$spacing-03;
      //Link buttons have default padding of 10px so we need to remove it
      margin-left: -10px;
      align-items: center;
    }
  }


  .feedback__description {
  }


}


.feedback--error.feedback--filled {
  @include feedback-style(colors.$color-red-500, colors.$color-white, colors.$color-white, colors.$color-white);
}
.feedback--success.feedback--filled {
  @include feedback-style(colors.$color-green-500, colors.$color-white, colors.$color-white, colors.$color-white);
}
.feedback--warning.feedback--filled {
  @include feedback-style(colors.$color-orange-500, colors.$color-white, colors.$color-white, colors.$color-white);
}
.feedback--info.feedback--filled {
  @include feedback-style(colors.$color-blue-500, colors.$color-white, colors.$color-white, colors.$color-white);
}
.feedback--feature.feedback--filled {
  @include feedback-style(colors.$color-neutral-500, colors.$color-white, colors.$color-white, colors.$color-white);
}

.feedback--error.feedback--light {
  @include feedback-style(colors.$color-red-200, colors.$color-neutral-900, colors.$color-neutral-900, colors.$color-red-500);
}
.feedback--success.feedback--light {
  @include feedback-style(colors.$color-green-200, colors.$color-neutral-900, colors.$color-neutral-900, colors.$color-green-500);
}
.feedback--warning.feedback--light {
  @include feedback-style(colors.$color-orange-200, colors.$color-neutral-900, colors.$color-neutral-900, colors.$color-orange-500);
}
.feedback--info.feedback--light {
  @include feedback-style(colors.$color-blue-200, colors.$color-neutral-900, colors.$color-neutral-900, colors.$color-blue-500);
}
.feedback--feature.feedback--light {
  @include feedback-style(colors.$color-neutral-200, colors.$color-neutral-900, colors.$color-neutral-900, colors.$color-neutral-500);
}

.feedback--error.feedback--lighter{
  @include feedback-style(colors.$color-red-50, colors.$color-neutral-900, colors.$color-neutral-900, colors.$color-red-500);
}
.feedback--success.feedback--lighter{
  @include feedback-style(colors.$color-green-50, colors.$color-neutral-900, colors.$color-neutral-900, colors.$color-green-500);
}
.feedback--warning.feedback--lighter{
  @include feedback-style(colors.$color-orange-50, colors.$color-neutral-900, colors.$color-neutral-900, colors.$color-orange-500);
}
.feedback--info.feedback--lighter{
  @include feedback-style(colors.$color-blue-50, colors.$color-neutral-900, colors.$color-neutral-900, colors.$color-blue-500);
}
.feedback--feature.feedback--lighter{
  @include feedback-style(colors.$color-neutral-50, colors.$color-neutral-900, colors.$color-neutral-900, colors.$color-neutral-500);
}

.feedback--error.feedback--stroke {
    @include feedback-style(colors.$color-white, colors.$color-neutral-900, colors.$color-neutral-900, colors.$color-red-500);

    border: 1px colors.$color-neutral-200 solid;

}
.feedback--success.feedback--stroke {
    @include feedback-style(colors.$color-white, colors.$color-neutral-900, colors.$color-neutral-900, colors.$color-green-500);

    border: 1px colors.$color-neutral-200 solid;
}
.feedback--warning.feedback--stroke {
    @include feedback-style(colors.$color-white, colors.$color-neutral-900, colors.$color-neutral-900, colors.$color-orange-500);

    border: 1px colors.$color-neutral-200 solid;
}
.feedback--info.feedback--stroke {
  @include feedback-style(colors.$color-white, colors.$color-neutral-900, colors.$color-neutral-900, colors.$color-blue-500);

  border: 1px colors.$color-neutral-200 solid;
}
.feedback--feature.feedback--stroke {
  @include feedback-style(colors.$color-white, colors.$color-neutral-900, colors.$color-neutral-900, colors.$color-neutral-900);

  border: 1px colors.$color-neutral-200 solid;
}
