@import "src/globalstyles/variables.scss";
td {
    .table-cell {
        display: flex;
        align-items: center;

        &__content-label {
            padding: $spacing-12 $spacing-20 $spacing-12 $spacing-12;
            gap: $spacing-12;
        }

        &__misc {
            padding: $spacing-12;
            gap: $spacing-12;
        }
    }
}

