@import "src/globalstyles/variables.scss";



.pagination {
    display: flex;
    flex-direction: row;
    gap: $spacing-6;
    &--row {
        gap: 0;
        .pagination__button {
            padding: $spacing-6 $spacing-12;
            border-radius: unset;

            &:first-child {
                border-top-left-radius: $radius-8;
                border-bottom-left-radius: $radius-8;
            }

            // Middle Children Styles
            &:not(:first-child):not(:last-child) {
                border-width: 1px 1px 1px 0;
                border-radius: 0;
            }

            &:last-child {
                border-width: 1px 1px 1px 0;
                border-top-right-radius: $radius-8;
                border-bottom-right-radius: $radius-8;
            }
        }

    }

    &--rounded {
        .pagination__button {
            padding: $spacing-6;
            border-radius: $radius-full;

            &:first-child, &:nth-child(2) {
                //border-radius: unset;
                border: none;
                //border-top-left-radius: $radius-8;
                //border-bottom-left-radius: $radius-8;
            }

            // Middle Children Styles
            &:not(:first-child):not(:last-child) {
                //border-width: 1px 1px 1px 0;
                //border-radius: 0;
            }

            &:last-child, &:nth-last-child(2) {
                //border-radius: unset;
                border: none;
                //border-width: 1px 1px 1px 0;
                //border-top-right-radius: $radius-8;
                //border-bottom-right-radius: $radius-8;
            }
        }

    }

    &--squared {
        .pagination__button {
            padding: $spacing-6;
            border-radius: $radius-8;

            &:first-child, &:nth-child(2) {
                //border-radius: unset;
                border: none;
                //border-top-left-radius: $radius-8;
                //border-bottom-left-radius: $radius-8;
            }

            // Middle Children Styles
            &:not(:first-child):not(:last-child) {
                //border-width: 1px 1px 1px 0;
                //border-radius: 0;
            }

            &:last-child, &:nth-last-child(2) {
                //border-radius: unset;
                border: none;
                //border-width: 1px 1px 1px 0;
                //border-top-right-radius: $radius-8;
                //border-bottom-right-radius: $radius-8;
            }
        }

    }

    .pagination__button {
        border: 1px solid $neutral-200;
        background: $neutral-0;
        @extend .label-small;
        color: $neutral-600;

        &:hover, &--active {
            background: $neutral-100;
        }

        &:disabled {
            background: $neutral-0;
            color: $neutral-300;
            cursor: not-allowed;
        }

        .pagination__pagenumber {
            display: inline-block;
            text-align: center;
            min-width: 20px;
            min-height: 20px;
        }
    }
}
