@use "@/globalstyles/v2/variables.scss" as variables;

$breakpoints: (
        sm: variables.variables.$breakpoint-sm,
        md: variables.variables.$breakpoint-md,
        lg: variables.variables.$breakpoint-lg,
        xlg: variables.variables.$breakpoint-xlg,
        max: variables.variables.$breakpoint-max,
);

$columns: (
        sm: variables.variables.$columns-sm,
        md: variables.variables.$columns-md,
        lg: variables.variables.$columns-lg,
        xlg: variables.variables.$columns-xlg,
        max: variables.variables.$columns-max,
);

//@each $breakpoint, $value in $breakpoints {
//    @media (min-width: #{$value}) {
//        .test-media-#{$breakpoint} {
//            color: blue;
//        }
//    }
//}


@each $breakpoint, $col-count in $columns {
    @for $start from 1 through $col-count {
        $max-span: $col-count - $start + 1;
        @if $max-span > 0 {
            @for $span from 1 through $max-span {
                .column--#{$breakpoint}-start-#{$start}-span-#{$span} {
                    @media (min-width: map-get($breakpoints, $breakpoint)) {
                        grid-column: $start / span $span;
                    }
                }
            }
        }

        //@for $span from 1 through ($col-count - $start + 1) {
        //
        //}
    }
}
