@import "src/globalstyles/v2/variables.scss";

$breakpoints: (
        sm: $breakpoint-sm,
        md: $breakpoint-md,
        lg: $breakpoint-lg,
        xlg: $breakpoint-xlg,
);

// Helper map for column counts based on each breakpoint
$columns: (
        sm: $columns-sm,
        md: $columns-md,
        lg: $columns-lg,
        xlg: $columns-xlg,
        max: $columns-max,
);

// Generate responsive column classes for each breakpoint
@each $breakpoint, $col-count in $columns {
    @for $i from 1 through $col-count {
        .column--#{$breakpoint}-#{$i} {
            @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
                grid-column: span $i;
            }
        }
    }
}
