@use "@/globalstyles/v2/variables.scss" as variables;

// Custom background colors for individual columns in stories
.column--default {
    background-color: #4a90e2; // Blue
}

.column--1 {
    background-color: #50e3c2; // Mint green
}

.column--2 {
    background-color: #f5a623; // Orange
}

.column--3 {
    background-color: #9013fe; // Purple
}

.column--4 {
    background-color: #f8e71c; // Yellow
}

.column--full {
    background-color: #7ed321; // Green
}

.column--narrow {
    background-color: #b8e986; // Light green for narrow columns
}
