@use "@/globalstyles/v2/layout.scss" as layout;
@use "@/globalstyles/v2/border.scss" as border;
@use "@/globalstyles/v2/colors.scss" as colors;
@use "@/globalstyles/v2/motion.scss" as motion;

.text-input {
    display: flex;
    flex-direction: column;
    gap: layout.$spacing-03;

    &__input-container {
        display: flex;
        align-items: center;
        gap: layout.$spacing-03;
        border: 1px solid var(--color-border-primary-default);
        border-radius: border.$border-radius-medium;
        padding: layout.$spacing-03 layout.$spacing-03 layout.$spacing-03 layout.$spacing-03;
        cursor: text;

        &__icon {
            //height: 1em;
            //width: auto; // Maintain aspect ratio
            //max-height: 100%; // Ensure it doesn't exceed container height
            //object-fit: contain; // Ensure the entire image is visible
            color: var(--color-icon-secondary-default);
        }

        input {
            background: transparent;
            border: none;
            &:focus {
                outline: none;
            }
            flex-grow: 1;
            color: var(--color-text-primary-default);

            &::placeholder {
                color: var(--color-text-secondary-default);
            }

            &:disabled{
                cursor: not-allowed;
            }
        }

        &--disabled {
            background-color: var(--color-bg-secondary-disabled);
            color: var(--color-text-disabled-default);
            cursor: not-allowed;
        }

        &--error {
            border: 1px solid colors.$red-500 !important;
        }

        &:hover {
            //background-color: var(--color-bg-secondary-hover);
            border: 1px solid var(--color-border-focus-default);
            color: var(--color-text-primary-default);
            transition: background-color motion.$duration-moderate-01 motion.$easing-productive-entrance;
            &__icon {
                color: var(--color-icon-primary-default);
            }
        }

        &:focus-within {
            box-shadow: 0 0 0 4px colors.$color-neutral-alpha-16, 0 0 0 2px colors.$color-white;
            //border: 1px solid colors.$color-neutral-900;
            outline: 2px solid var(--color-focus-ring-default);
            color: var(--color-text-primary-default);

            //&:hover {
            //    background-color: var(--color-bg-secondary-hover);
            //}

            .text-input__input-container__icon {
                color: var(--color-icon-primary-default);
            }
        }

    }

    &__hint {
        //min-height: 1.3em;
    }


}
