@import "@/globalstyles/v2/variables.scss";

.text-input {
    display: flex;
    flex-direction: column;
    gap: $spacing-03;

    &__input-container {
        display: flex;
        align-items: center;
        gap: $spacing-03;
        border: 1px solid var(--color-border-primary-default);
        border-radius: $border-radius-medium;
        padding: $spacing-03 $spacing-03 $spacing-03 $spacing-03;
        cursor: text;

        &__icon {
            //height: 1em;
            //width: auto; // Maintain aspect ratio
            //max-height: 100%; // Ensure it doesn't exceed container height
            //object-fit: contain; // Ensure the entire image is visible
            color: var(--color-icon-secondary-default);
        }

        input {
            background: transparent;
            border: none;
            &:focus {
                outline: none;
            }
            flex-grow: 1;
            color: var(--color-text-primary-default);

            &::placeholder {
                color: var(--color-text-secondary-default);
            }

            &:disabled{
                cursor: not-allowed;
            }
        }

        &--disabled {
            background-color: var(--color-bg-secondary-disabled);
            color: var(--color-text-disabled-default);
            cursor: not-allowed;
        }

        &--error {
            border: 1px solid $red-500 !important;
        }

        &:hover {
            //background-color: var(--color-bg-secondary-hover);
            border: 1px solid var(--color-border-focus-default);
            color: var(--color-text-primary-default);
            transition: background-color $duration-moderate-01 $easing-productive-entrance;
            &__icon {
                color: var(--color-icon-primary-default);
            }
        }

        &:focus-within {
            box-shadow: 0 0 0 4px $color-neutral-alpha-16, 0 0 0 2px $color-white;
            //border: 1px solid $color-neutral-900;
            outline: 2px solid var(--color-focus-ring-default);
            color: var(--color-text-primary-default);

            //&:hover {
            //    background-color: var(--color-bg-secondary-hover);
            //}

            .text-input__input-container__icon {
                color: var(--color-icon-primary-default);
            }
        }

    }

    &__hint {
        //min-height: 1.3em;
    }


}
