@import "src/globalstyles/variables.scss";

.dropdown-menu {
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
    border-radius: $spacing-16;
    border: 1px solid $neutral-200;
    padding: $spacing-8;

    .dropdown-menu__item {
        display: flex;
        align-items:  baseline;
        gap: $spacing-8;
        padding: $spacing-8;
        border-radius: $spacing-8;
        cursor: pointer;
        transition: background-color $transition-normal $transition-type-dissolve;

        &:hover {
            background-color: $neutral-100;
        }

        .dropdown-menu__icon {
            font-size: 14px;
            width: 20px;
            height: 20px;
            color: $neutral-600;
            flex-shrink: 0;
        }

        .dropdown-menu__label {
            @extend .paragraph-small;
            color: $color-neutral;
        }

        .dropdown-menu__sublabel {
            @extend .paragraph-x-small;
            color: $neutral-400;
        }
    }

    .dropdown-menu__caption {
        padding: $spacing-8;
        @extend .paragraph-small;
        color: $neutral-400;
    }
}
