@import "@/globalstyles/v2/variables.scss";

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-03;
  color: $color-neutral-500;

  .breadcrumb__separator {
    //@extend .label-small;
    //padding-left: $spacing-02;
  }

  .breadcrumb__item {
    display: flex;
    gap: $spacing-04;
  }
}
