@use "@/globalstyles/v2/variables.scss" as *;

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-03;
  color: var(--color-text-secondary-default);

  .breadcrumb__separator {
    //@extend .label-small;
    //padding-left: $spacing-02;
  }

  .breadcrumb__item {
    display: flex;
    gap: $spacing-04;
  }
}
