@use "@/globalstyles/v2/layout.scss" as layout;
@use "@/globalstyles/v2/border.scss" as border;

.breadcrumb-item {
  display: inline-flex;
  align-items: baseline;
  //justify-content: center;
  border: none;
  cursor: pointer;
  gap: layout.$spacing-02;
  color: var(--color-text-secondary-default);
  //@extend .label-small;

  &:hover .breadcrumb-item__text {
    text-decoration: underline;
  }

  &:hover .breadcrumb-item__icon {
    //text-decoration: underline;
    //text-underline-offset: layout.$spacing-02;
    //text-decoration-thickness: $spaci*ng-01;
  }

  &:focus .breadcrumb-item__text {
    text-decoration: underline;
  }

  &:focus .breadcrumb-item__icon {
    //text-decoration: underline;
    //text-underline-offset: layout.$spacing-03;
    //text-decoration-thickness: 1px;
  }

  &--disabled {
    color: var(--color-text-disabled-default);
    cursor: not-allowed;
    pointer-events: none;
  }

  &--active {
    color: var(--color-text-primary-default);
    cursor: not-allowed;
    pointer-events: none;
  }
}
