@import "src/globalstyles/colors.scss";
@import "src/globalstyles/v2/variables.scss";

.breadcrumb-item {
  display: inline-flex;
  align-items: baseline;
  //justify-content: center;
  border: none;
  cursor: pointer;
  gap: $spacing-02;
  color: $neutral-400;
  //@extend .label-small;

  &:hover .breadcrumb-item__text {
    text-decoration: underline;
  }

  &:hover .breadcrumb-item__icon {
    //text-decoration: underline;
    //text-underline-offset: $spacing-02;
    //text-decoration-thickness: $spaci*ng-01;
  }

  &:focus .breadcrumb-item__text {
    text-decoration: underline;
  }

  &:focus .breadcrumb-item__icon {
    //text-decoration: underline;
    //text-underline-offset: $spacing-03;
    //text-decoration-thickness: 1px;
  }

  &--disabled {
    color: $neutral-300;
    cursor: not-allowed;
    pointer-events: none;
  }

  &--active {
    color: $neutral-900;
    cursor: not-allowed;
    pointer-events: none;
  }
}
