@use "@/globalstyles/v2/variables.scss" as *;
@use "@/globalstyles/v2/layout.scss" as layout;
@use "@/globalstyles/v2/border.scss" as border;
@use "@/globalstyles/v2/colors.scss" as colors;

.toggle-card__container {
    display: flex;
    padding: layout.$spacing-05;
    gap: layout.$spacing-05;
    border-radius: border.$border-radius-large;
    border: 1px solid var(--colors.$color-border);


    &:hover {
        //background-color: colors.$color-neutral-50;
        border: 1px solid var(--colors.$color-primary);
        transition: border $duration-slow-02 $easing-productive-entrance;
    }

    //.toggle-card__image {
    //    width: 40px;
    //    height: 40px;
    //    border-radius: $radius-full;
    //}
}
