@use "@/globalstyles/v2/layout.scss" as layout;
@use "@/globalstyles/v2/breakpoints.scss" as breakpoints;

.billing {
    display: flex;
    flex-direction: column;
    gap: layout.$spacing-02;

}
.billing-buttons {
    display: flex;
    flex-direction: column;
    gap: layout.$spacing-05;

    @media (min-width: breakpoints.$breakpoint-sm) {
        flex-direction: row;
    }
}

.billing-status {
    display: flex;
    flex-direction: row;
    gap: layout.$spacing-05;
    align-items: baseline;
}
