@use "@/design-tokens/layout" as layout;

.root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: layout.$spacing-05;
  background-color: var(--color-surface-secondary-default);
}

.form {
  width: 100%;
  max-width: 600px;
}
