@use "@/design-tokens/layout.scss" as layout;

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity: 0.8;
  background-image:  radial-gradient(rgb(0, 0, 0, 0.87) 0.5px, transparent 0.5px), radial-gradient(#fff 0.5px, #fff 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;

  .centered-container {
    padding: layout.$spacing-12 layout.$spacing-12;
    max-height: layout.$spacing-13 * 2;
    background: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: layout.$spacing-05;
  }

  /* Tablet and up (medium screens) */
  @media (width <= 480px) {
    .centered-container {
      padding: layout.$spacing-05 layout.$spacing-12;
      max-width: layout.$spacing-13 * 2;
      max-height: layout.$spacing-13 * 2;

    }
  }

  /* Desktop and up (large screens) */
  @media (width <= 768px) {
    padding: layout.$spacing-05;

    .centered-container {
      padding: layout.$spacing-10;
      min-width: layout.$spacing-13 * 2;
      max-height: layout.$spacing-13 * 2;

    }
  }
}
