@import "../../../../globalstyles/colors";
@import "../../../../globalstyles/v2/variables";

.slider {
    display: flex;
    gap: $spacing-03;
    flex-direction: column;
    width: $spacing-13;

    .slider__input {
        appearance: none;
        outline: none;
        border-radius:  $border-radius-medium;
        height: $spacing-03;
        background: $color-neutral-100;
        padding: 0;
        margin: 0;

        &:focus {
            outline: none;
            border-color: transparent;
        }

        &::-moz-range-track, &::-webkit-slider-runnable-track {
            width: 100%;
            cursor: pointer;
            border-radius: $border-radius-medium;
            border-color: var(--color-muted);
            height: $spacing-03;
            background: $color-neutral-200;
        }

        &::-moz-range-thumb, &::-webkit-slider-thumb {
            -webkit-appearance: none;
            box-shadow: 0 4px 4px 0 $black-alpha-16;
            border: 4px solid $color-white;
            height: $spacing-03;
            width:  $spacing-03;
            border-radius: $border-radius-round;
            background: var(--color-primary);
            cursor: pointer;

        }

        &:disabled {
            &::-moz-range-thumb, &::-webkit-slider-thumb {
                background: var(--color-muted);
            }
        }

        &::-moz-range-progress {
            background: var(--color-primary);
            height: $spacing-03;
            border-radius: $border-radius-medium;
        }
    }


    .slider__label {
        display: flex;
        justify-content: space-between;
        //@extend .paragraph-x-small;
        //color: $color-neutral-200;
        padding: 0;
    }


}
