@use "@/globalstyles/v2/layout.scss" as layout;

.checkbox-labeled__container {
    display: flex;
    flex-direction: row;
    gap: layout.$spacing-05;
    min-width: layout.$spacing-13;

    &--reversed {
        flex-direction: row-reverse;

        .checkbox-labeled__label-container {
            flex-grow: 1;
        }
    }

    &--disabled {
        .checkbox-labeled__sublabel__string, .checkbox-labeled__description__string {
            color: var(--color-muted);
        }
    }
}


