// colors.scss
$color-primary: #335CFF;
$color-primary-dark: #0056b3;
$color-primary-light: #85c1ff;

$color-secondary: #6c757d;
$color-secondary-dark: #5a6268;
$color-secondary-light: #a9b3bd;

$color-neutral-100: #f8f9fa;
$color-neutral-200: #e9ecef;
$color-neutral-300: #dee2e6;
$color-neutral-400: #ced4da;
$color-neutral-500: #adb5bd;
$color-neutral-600: #6c757d;
$color-neutral-700: #495057;
$color-neutral-800: #343a40;
$color-neutral-900: #212529;

$color-success: #28a745;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-info: #17a2b8;

$color-text-primary: #212529;
$color-text-secondary: #6c757d;
$color-text-muted: #CACFD8;
$color-text-white: #ffffff;


$color-error: #FB3748;

$color-neutral: #0E121B;
$color-grey: #F5F7FA;
