@import "base";
@import "variables";

// Global Styles
body {
  font-family: 'Inter', 'sans-serif';
  font-size: 14px;
  line-height: 1.1em;
  color: $neutral-950;
  background-color: $neutral-0;
}

a {
  color: $blue-500;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $blue-800;
  }
}

