@import "variables";
// Mixins
@mixin respond-to($breakpoint) {
  @if $breakpoint == 'small' {
    @media (max-width: $breakpoint-sm) { @content; }
  } @else if $breakpoint == 'medium' {
    @media (max-width: $breakpoint-md) { @content; }
  } @else if $breakpoint == 'large' {
    @media (max-width: $breakpoint-lg) { @content; }
  } @else if $breakpoint == 'xlarge' {
    @media (max-width: $breakpoint-xl) { @content; }
  } @else {
    @media (max-width: 1200px) { @content; }
  }
}

@mixin text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
