// Typography
$font-primary: 'Radio Canada Big', sans-serif;
$font-secondary: 'Arial', sans-serif;

$font-size-root: 16px; // Root font size
$font-size-base: 1rem; // Base font size for paragraphs
$font-size-lg: 1.125rem; // Large font size
$font-size-sm: 0.875rem; // Small font size

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$line-height-base: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 1.75;

$heading-1-font-size: 2.5rem; // 40px
$heading-2-font-size: 2rem; // 32px
$heading-3-font-size: 1.75rem; // 28px
$heading-4-font-size: 1.5rem; // 24px
$heading-5-font-size: 1.25rem; // 20px
$heading-6-font-size: 1rem; // 16px

$heading-font-weight: $font-weight-bold;
$heading-line-height: 1.2;

