@use "@/design-tokens/layout" as layout;
@use "@/design-tokens/border" as border;

.slider {
    display: flex;
    gap: layout.$spacing-03;
    flex-direction: column;
    width: layout.$spacing-13;

    .slider__input {
        appearance: none;
        outline: none;
        border-radius: border.$border-radius-medium;
        height: layout.$spacing-03;
        background: var(--color-bg-primary-default);
        padding: 0;
        margin: 0;

        &:focus {
            outline: none;
            border-color: transparent;
        }

        &::-moz-range-track, &::-webkit-slider-runnable-track {
            width: 100%;
            cursor: pointer;
            border-radius: border.$border-radius-medium;
            border-color: var(--color-border-primary-default);
            height: layout.$spacing-03;
            background: var(--color-bg-primary-disabled);
        }

        &::-moz-range-thumb, &::-webkit-slider-thumb {
            -webkit-appearance: none;
            box-shadow: 0 4px 4px 0 var(--color-alpha-shadow);
            border: 4px solid var(--color-border-primary-default);
            height: layout.$spacing-03;
            width:  layout.$spacing-03;
            border-radius: border.$border-radius-round;
            background: var(--color-bg-primary-default);
            cursor: pointer;

        }

        &:disabled {
            &::-moz-range-thumb, &::-webkit-slider-thumb {
                background: var(--color-bg-primary-disabled);
            }
        }

        &::-moz-range-progress {
            background: var(--color-bg-primary-default);
            height: layout.$spacing-03;
            border-radius: border.$border-radius-medium;
        }
    }


    .slider__label {
        display: flex;
        justify-content: space-between;
        //color: colors.$color-neutral-200;
        padding: 0;
    }


}
