@import "src/globalstyles/variables.scss";

@mixin badge-style($color, $text-color) {
  background-color: $color;
  color: $text-color;
  .badge__icon {
    color: $text-color;
  }
}

.badge {
  border-radius: $radius-full;
  display: flex;
  gap: $spacing-2;
  padding: $spacing-2 $spacing-8;
  text-transform: uppercase;
  align-items: center;


  &--small {
    @extend .subheading-xx-small;
    height: 16px;

    .badge__icon {
      height: 16px;
      width: 16px;
      font-size: 16px;
      align-content: center;
    }
  }

  &--medium {
    @extend .label-x-small;
    height: 20px;

    .badge__icon {
      height: 20px;
      width: 20px;
      font-size: 20px;
      align-content: center;
    }
  }

  &--disabled {
    border: 1px solid $neutral-200;
    color: $neutral-200;
  }
}

.badge--gray.badge--filled {
  @include badge-style($neutral-500, $neutral-0);
}
.badge--blue.badge--filled {
  @include badge-style($blue-500, $neutral-0);
}
.badge--green.badge--filled {
  @include badge-style($green-500, $neutral-0);
}
.badge--red.badge--filled {
  @include badge-style($red-500, $neutral-0);
}
.badge--yellow.badge--filled {
  @include badge-style($yellow-500, $neutral-0);
}
.badge--purple.badge--filled {
  @include badge-style($purple-500, $neutral-0);
}
.badge--orange.badge--filled {
  @include badge-style($orange-500, $neutral-0);
}
.badge--pink.badge--filled {
  @include badge-style($pink-500, $neutral-0);
}
.badge--sky.badge--filled {
  @include badge-style($sky-500, $neutral-0);
}
.badge--teal.badge--filled {
  @include badge-style($teal-500, $neutral-0);
}

.badge--gray.badge--light {
  @include badge-style($neutral-200, $neutral-950);
}
.badge--blue.badge--light {
  @include badge-style($blue-200, $blue-950);
}
.badge--green.badge--light {
  @include badge-style($green-200, $green-950);
}
.badge--red.badge--light {
  @include badge-style($red-200, $red-950);
}
.badge--yellow.badge--light {
  @include badge-style($yellow-200, $yellow-950);
}
.badge--purple.badge--light {
  @include badge-style($purple-200, $purple-950);
}
.badge--orange.badge--light {
  @include badge-style($orange-200, $orange-950);
}
.badge--pink.badge--light {
  @include badge-style($pink-200, $pink-950);
}
.badge--sky.badge--light {
  @include badge-style($sky-200, $sky-950);
}
.badge--teal.badge--light {
  @include badge-style($teal-200, $teal-950);
}


.badge--gray.badge--lighter {
  @include badge-style($neutral-50, $neutral-500);
}
.badge--blue.badge--lighter {
  @include badge-style($blue-50, $blue-500);
}
.badge--green.badge--lighter {
  @include badge-style($green-50, $green-500);
}
.badge--red.badge--lighter {
  @include badge-style($red-50, $red-500);
}
.badge--yellow.badge--lighter {
  @include badge-style($yellow-50, $yellow-500);
}
.badge--purple.badge--lighter {
  @include badge-style($purple-50, $purple-500);
}
.badge--orange.badge--lighter {
  @include badge-style($orange-50, $orange-500);
}
.badge--pink.badge--lighter {
  @include badge-style($pink-50, $pink-500);
}
.badge--sky.badge--lighter {
  @include badge-style($sky-50, $sky-500);
}
.badge--teal.badge--lighter {
  @include badge-style($teal-50, $teal-500);
}

.badge--gray.badge--stroke {
  @include badge-style($neutral-0, $neutral-500);
  border: 1px solid $neutral-500;
}
.badge--blue.badge--stroke {
  @include badge-style($neutral-0, $blue-500);
  border: 1px solid $blue-500;
}
.badge--green.badge--stroke {
  @include badge-style($neutral-0, $green-500);
  border: 1px solid $green-500;
}
.badge--red.badge--stroke {
  @include badge-style($neutral-0, $red-500);
  border: 1px solid $red-500;
}
.badge--yellow.badge--stroke {
  @include badge-style($neutral-0, $yellow-500);
  border: 1px solid $yellow-500;
}
.badge--purple.badge--stroke {
  @include badge-style($neutral-0, $purple-500);
  border: 1px solid $purple-500;
}
.badge--orange.badge--stroke {
  @include badge-style($neutral-0, $orange-500);
  border: 1px solid $orange-500;
}
.badge--pink.badge--stroke {
  @include badge-style($neutral-0, $pink-500);
  border: 1px solid $pink-500;
}
.badge--sky.badge--stroke {
  @include badge-style($neutral-0, $sky-500);
  border: 1px solid $sky-500;
}
.badge--teal.badge--stroke {
  @include badge-style($neutral-0, $teal-500);
  border: 1px solid $teal-500;
}
