@use "@/design-tokens/layout" as layout;

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  gap: layout.$spacing-03;
  color: var(--color-text-secondary-default);

  .breadcrumb__separator {
    // padding-left: layout.$spacing-02;
  }

  .breadcrumb__item {
    display: flex;
    gap: layout.$spacing-04;
  }
}
