@use "@/globalstyles/v2/layout.scss" as layout;
@use "@/globalstyles/v2/border.scss" as border;
@use "@/globalstyles/v2/colors.scss" as colors;

@mixin badge-style($color, $text-color) {
  background-color: $color;
  color: $text-color;
  .badge__icon {
    color: $text-color;
  }
}

.badge {
  border-radius: border.$border-radius-large;
  display: flex;
  gap: layout.$spacing-01;
  text-transform: uppercase;
  align-items: center;


  &--small {
    font-size: layout.$spacing-03;
    font-weight: bolder;
    padding: layout.$spacing-01 layout.$spacing-03;


    .badge__icon {
      min-height: 100%;
    }
  }

  &--medium {
    font-size: layout.$spacing-04;
    font-weight: bold;
    padding: layout.$spacing-02 layout.$spacing-03;

    .badge__icon {
        min-height: 100%;
    }
  }

  &--disabled {
    border: border.$border-width-small solid var(--color-border-disabled-default);
    color: var(--color-text-disabled-default);
  }
}

.badge--gray.badge--filled {
  @include badge-style(colors.$color-neutral-500, colors.$color-white);
}
.badge--blue.badge--filled {
  @include badge-style(colors.$color-blue-500, colors.$color-white);
}
.badge--green.badge--filled {
  @include badge-style(colors.$color-green-500, colors.$color-white);
}
.badge--red.badge--filled {
  @include badge-style(colors.$color-red-500, colors.$color-white);
}
.badge--yellow.badge--filled {
  @include badge-style(colors.$yellow-500, colors.$color-white);
}
.badge--purple.badge--filled {
  @include badge-style(colors.$purple-500, colors.$color-white);
}
.badge--orange.badge--filled {
  @include badge-style(colors.$color-orange-500, colors.$color-white);
}
.badge--pink.badge--filled {
  @include badge-style(colors.$pink-500, colors.$color-white);
}
.badge--sky.badge--filled {
  @include badge-style(colors.$sky-500, colors.$color-white);
}
.badge--teal.badge--filled {
  @include badge-style(colors.$teal-500, colors.$color-white);
}

.badge--gray.badge--light {
  @include badge-style(colors.$color-neutral-200, colors.$color-neutral-900);
}
.badge--blue.badge--light {
  @include badge-style(colors.$color-blue-200, colors.$color-blue-950);
}
.badge--green.badge--light {
  @include badge-style(colors.$color-green-200, colors.$color-green-950);
}
.badge--red.badge--light {
  @include badge-style(colors.$color-red-200, colors.$color-red-950);
}
.badge--yellow.badge--light {
  @include badge-style(colors.$yellow-200, colors.$yellow-950);
}
.badge--purple.badge--light {
  @include badge-style(colors.$purple-200, colors.$purple-950);
}
.badge--orange.badge--light {
  @include badge-style(colors.$color-orange-200, colors.$color-orange-950);
}
.badge--pink.badge--light {
  @include badge-style(colors.$pink-200, colors.$pink-950);
}
.badge--sky.badge--light {
  @include badge-style(colors.$sky-200, colors.$sky-950);
}
.badge--teal.badge--light {
  @include badge-style(colors.$teal-200, colors.$teal-950);
}


.badge--gray.badge--lighter {
  @include badge-style(colors.$color-neutral-50, colors.$color-neutral-500);
}
.badge--blue.badge--lighter {
  @include badge-style(colors.$color-blue-50, colors.$color-blue-500);
}
.badge--green.badge--lighter {
  @include badge-style(colors.$color-green-50, colors.$color-green-500);
}
.badge--red.badge--lighter {
  @include badge-style(colors.$color-red-50, colors.$color-red-500);
}
.badge--yellow.badge--lighter {
  @include badge-style(colors.$yellow-50, colors.$yellow-500);
}
.badge--purple.badge--lighter {
  @include badge-style(colors.$purple-50, colors.$purple-500);
}
.badge--orange.badge--lighter {
  @include badge-style(colors.$color-orange-50, colors.$color-orange-500);
}
.badge--pink.badge--lighter {
  @include badge-style(colors.$pink-50, colors.$pink-500);
}
.badge--sky.badge--lighter {
  @include badge-style(colors.$sky-50, colors.$sky-500);
}
.badge--teal.badge--lighter {
  @include badge-style(colors.$teal-50, colors.$teal-500);
}

.badge--gray.badge--stroke {
  @include badge-style(colors.$color-white, colors.$color-neutral-500);
  border: 1px solid colors.$color-neutral-500;
}
.badge--blue.badge--stroke {
  @include badge-style(colors.$color-white, colors.$color-blue-500);
  border: 1px solid colors.$color-blue-500;
}
.badge--green.badge--stroke {
  @include badge-style(colors.$color-white, colors.$color-green-500);
  border: 1px solid colors.$color-green-500;
}
.badge--red.badge--stroke {
  @include badge-style(colors.$color-white, colors.$color-red-500);
  border: 1px solid colors.$color-red-500;
}
.badge--yellow.badge--stroke {
  @include badge-style(colors.$color-white, colors.$yellow-500);
  border: 1px solid colors.$yellow-500;
}
.badge--purple.badge--stroke {
  @include badge-style(colors.$color-white, colors.$purple-500);
  border: 1px solid colors.$purple-500;
}
.badge--orange.badge--stroke {
  @include badge-style(colors.$color-white, colors.$color-orange-500);
  border: 1px solid colors.$color-orange-500;
}
.badge--pink.badge--stroke {
  @include badge-style(colors.$color-white, colors.$pink-500);
  border: 1px solid colors.$pink-500;
}
.badge--sky.badge--stroke {
  @include badge-style(colors.$color-white, colors.$sky-500);
  border: 1px solid colors.$sky-500;
}
.badge--teal.badge--stroke {
  @include badge-style(colors.$color-white, colors.$teal-500);
  border: 1px solid colors.$teal-500;
}
