@import "src/globalstyles/variables.scss";

.tab-menu-vertical-sidebar {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: $spacing-8;
    padding: $spacing-10;
    width: 264px;

    &--card {
        border-radius: $radius-16;
        border: 1px solid $neutral-200;
        @extend .shadow-sm;
    }

    &__title {
        @extend .subheading-x-small;
        color: $neutral-400;
        text-transform: uppercase;
        padding:  $spacing-4 $spacing-8;
    }

    &__footer {
        @extend .paragraph-x-small;
        color: $neutral-400;
        text-align: center;
    }

    &__container {
        display: flex;
        flex:1;
        flex-direction: column;
        gap: $spacing-8;
        color: $neutral-500;
        align-content: center;

        .tab-menu-vertical__item {
            display: flex;
        }
    }
}
