@import "src/globalstyles/variables.scss";

.tag {
    display: flex;
    align-items: center;
    //height: $spacing-24;
    padding: $spacing-4 $spacing-8;
    gap: $spacing-2;
    border-radius: $radius-6;
    border: 1px solid $neutral-200;
    @extend .label-x-small;
    color: $neutral-600;

    &__image {
        border-radius: $radius-full;
        height: 1em; // Set height to match the line-height of the text
        width: auto; // Maintain aspect ratio
        max-height: 100%; // Ensure it doesn't exceed container height
        object-fit: contain; // Ensure the entire image is visible
    }

    &:hover {
        background-color: $neutral-200;
        cursor: pointer;
    }

    &[aria-disabled="true"] {
        background-color: $neutral-50;
        color: $neutral-300;
        cursor: not-allowed;
    }

    &[aria-selected="true"] {
        background-color: $neutral-0;
        color: $neutral-950;
        border: 1px solid $neutral-950;
    }
}
