@import "@/globalstyles/v2/variables.scss";



@mixin banner-style($color, $text-color, $link-color, $icon-color) {
  background-color: $color;
  color: $text-color;
  .banner__link {
    color: $link-color;
  }

  .banner__icon {
    color: $icon-color;
  }
  .banner__dismiss {
    opacity: if($text-color == #ffffff, 0.72, 0.40);
  }
}

.banner {
  min-height: $spacing-09;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: $spacing-05;
  gap: $spacing-05;

  .banner__content {
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: $spacing-05;
  }

  .banner__icon {
    align-content: center;
  }

  .banner__dismiss {
    align-content: center;
    cursor: pointer;
    margin-left: auto;
  }

  .banner__separator {
    font-size: $spacing-03;
  }


    .banner__title {
      //@extend .label-small
    }
    .banner__description {
      //@extend .paragraph-small
    }
}




.banner--error.banner--filled {
  @include banner-style($red-500, $color-white, $color-white,$color-white);
}
.banner--success.banner--filled {
  @include banner-style($green-500, $color-white, $color-white, $color-white);
}
.banner--warning.banner--filled {
  @include banner-style($orange-500, $color-white, $color-white, $color-white);
}
.banner--info.banner--filled {
  @include banner-style($blue-500, $color-white, $color-white, $color-white);
}
.banner--feature.banner--filled {
  @include banner-style($color-neutral-500, $color-white, $color-white, $color-white);
}

.banner--error.banner--light {
  @include banner-style($red-200, $color-neutral-900, $color-neutral-900, $red-500);
}
.banner--success.banner--light {
  @include banner-style($green-200, $color-neutral-900, $color-neutral-900, $green-500);
}
.banner--warning.banner--light {
  @include banner-style($orange-200, $color-neutral-900, $color-neutral-900, $orange-500);
}
.banner--info.banner--light {
  @include banner-style($blue-200, $color-neutral-900, $color-neutral-900, $blue-500);
}
.banner--feature.banner--light {
  @include banner-style($color-neutral-200, $color-neutral-900, $color-neutral-900, $color-neutral-500);
}

.banner--error.banner--lighter{
  @include banner-style($red-50, $color-neutral-900, $color-neutral-900, $red-500);
}
.banner--success.banner--lighter{
  @include banner-style($green-50, $color-neutral-900, $color-neutral-900, $green-500);
}
.banner--warning.banner--lighter{
  @include banner-style($orange-50, $color-neutral-900, $color-neutral-900, $orange-500);
}
.banner--info.banner--lighter{
  @include banner-style($blue-50, $color-neutral-900, $color-neutral-900, $blue-500);
}
.banner--feature.banner--lighter{
  @include banner-style($color-neutral-50, $color-neutral-900, $color-neutral-900, $color-neutral-500);
}

.banner--error.banner--stroke {
    @include banner-style($color-white, $color-neutral-900, $color-neutral-900, $red-500);

  border: $color-neutral-200 solid;
  border-width: 0 0 1px 0;

}
.banner--success.banner--stroke {
    @include banner-style($color-white, $color-neutral-900, $color-neutral-900, $green-500);

  border: $color-neutral-200 solid;
  border-width: 0 0 1px 0;
}
.banner--warning.banner--stroke {
    @include banner-style($color-white, $color-neutral-900, $color-neutral-900, $orange-500);
  border: $color-neutral-200 solid;
  border-width: 0 0 1px 0;
}
.banner--info.banner--stroke {
  @include banner-style($color-white, $color-neutral-900, $color-neutral-900, $blue-500);
  border: $color-neutral-200 solid;
  border-width: 0 0 1px 0;
}
.banner--feature.banner--stroke {
  @include banner-style($color-white, $color-neutral-900, $color-neutral-900, $color-neutral-900);
  border: $color-neutral-200 solid;
  border-width: 0 0 1px 0;
}
