@import "src/globalstyles/variables";

.payment-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .plan-container {

        display: flex;
    }
    .checkout-container {
        display: flex;
    }

}
