@import "src/globalstyles/variables.scss";

.step-indicator-vertical {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-4;
  color: $neutral-500;

  .step-indicator-vertical__separator {
    @extend .label-small;
    padding-left: $spacing-4;
  }

  .step-indicator-vertical__item {
    display: flex;
  }
}
