@import "src/globalstyles/variables.scss";

.step-indicator-vertical-item {
  display: flex;
  align-items: start;
  border: none;
  max-height: $spacing-28;
  width: 100%;
  padding: $spacing-8;
  gap: $spacing-10;
  background-color: $bg-weak-50;
  color: $neutral-600;
  border-radius: $radius-10;
  @extend .paragraph-small;

  &--active {
    background-color: $neutral-0;
    color: $neutral-950;
    @extend .shadow-xs;
  }

  .step-indicator-vertical-item__icon {
    height: $spacing-20;
    width: $spacing-20;
    align-content: center;
    vertical-align: center;
    text-align: center;
    border-radius: $radius-full;
    color: $neutral-600;

    &--completed {
      color: $neutral-0;
      background-color: $green-500;
    }
    &--active {
      @extend .label-x-small;
      color: $neutral-0;
      background-color: $blue-500;
    }

    &--default {
      @extend .label-x-small;
      background-color: $neutral-0;
      @extend .shadow-xs;
    }
  }

  .step-indicator-vertical-item__text {
    flex: 1;
  }
}
