@import "src/globalstyles/variables.scss";

.step-indicator-vertical-sidebar {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: $spacing-12;
    padding: $spacing-20 $spacing-16  $spacing-16  $spacing-16;
    border-radius: $radius-10;
    width: 264px;
    height: 100vh;
    background-color: $bg-weak-50;
  &__title {
      @extend .subheading-x-small;
      color: $neutral-400;
        text-transform: uppercase;
  }

    &__footer {
        @extend .paragraph-x-small;
        color: $neutral-400;
        text-align: center;
    }
  &__container {
    display: flex;
    flex:1;
    flex-direction: column;
    gap: $spacing-8;
    color: $neutral-500;
    align-content: center;

    .step-indicator-vertical__item {
      display: flex;
    }
  }
}
