@use "@/design-tokens/layout" as layout;
@use "@/design-tokens/border" as border;
@use "@/design-tokens/motion" as motion;

// Style for custom checkbox
.custom-checkbox-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: layout.$spacing-06;
    height: layout.$spacing-06;
    border: 1px solid var(--color-border-primary-default); // Border color
    border-radius: border.$border-radius-small; // Square corners or small radius
    outline: none;
    cursor: pointer;
    position: relative;

    // Style for the checked state
    &:checked {
        background-color: var(--color-bg-tertiary-default); // Background color when checked

        // Checkmark to indicate selection
        &::after {
            content: '';
            position: absolute;
            top: layout.$spacing-01;
            left: layout.$spacing-03;
            width: layout.$spacing-03;
            height: layout.$spacing-05;
            border: solid var(--color-bg-primary-default); // Checkmark color
            border-width: 0 2px 2px 0;
            transform: rotate(40deg);
            transition: transform motion.$duration-slow-01 motion.$easing-productive-standard;

        }
    }

    // Style for the hover state
    &:hover {
        //border-color: var(--color-hover-secondary); // Hover border color
        &::after {
            //border-color: var(--color-hover-secondary);
        }
    }

    // Style for the focus state
    &:focus {
        border-color: var(--color-focus-ring-default); // Focus border color
    }

    // Style for the disabled state
    &:disabled {
        background-color: var(--color-bg-disabled-default); // Disabled background color
        border-color: var(--color-border-primary-default); // Disabled border color
        cursor: not-allowed;

        &::after {
            border-color: var(--color-border-primary-default);
        }
    }
}
