@import "src/globalstyles/v2/variables";

main {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 10px;
  // Use the responsive mixin for padding
  @media (min-width: $breakpoint-lg) {
    padding: 0 20px; // More padding on medium devices and up
  }

  @media (min-width: $breakpoint-sm) {
    padding: 0 30px; // Less padding on small devices
  }
}
