@import "src/globalstyles/variables.scss";

table {
    border-collapse: separate;
    border-spacing: 0;

    tr:first-child th {
        border: 1px solid $neutral-50; // Border for all sides of the first row's <th>

        &:first-child {
            border-top-left-radius: $radius-12;
            border-bottom-left-radius: $radius-12;
        }
        &:last-child {
            border-top-right-radius: $radius-12;
            border-bottom-right-radius: $radius-12;
        }
    }

    tr td {
        border-bottom: 2px solid $neutral-50; // Border for all sides of the <td> except the last one
    }

    tr.table-row {
        &--large {
            height: $spacing-64;
        }

        &--medium {
            height: $spacing-48;
        }
    }
}
