@import "src/globalstyles/variables.scss";

.radio-labeled__container {
    display: flex;
    flex-direction: row;
    gap: $spacing-8;
    width: 300px;

    &--reversed {
        flex-direction: row-reverse;

        .radio-labeled__label-container {
            flex-grow: 1;
        }
    }

    &--disabled {
        .radio-labeled__sublabel__string, .radio-labeled__description__string {
            color: $neutral-200;
        }
    }
}


