@use "@/design-tokens/layout" as layout;
@use "@/design-tokens/border" as border;

.tag {
    display: flex;
    align-items: center;

    // height: layout.$spacing-24;
    padding: layout.$spacing-02 layout.$spacing-03;
    gap: layout.$spacing-03;
    border-radius: border.$border-radius-medium;
    border: 1px solid var(--color-border);

    // font-size: 0.85em;
    color: var(--color-text-secondary-default);

    &__image {
        border-radius: border.$border-radius-round;
        height: 1em; // Set height to match the line-height of the text
        width: auto; // Maintain aspect ratio
        max-height: 100%; // Ensure it doesn't exceed container height
        object-fit: contain; // Ensure the entire image is visible
    }

    &:hover {
        background-color: var(--color-bg-secondary-default);
        cursor: pointer;
    }

    &[aria-disabled="true"] {
        background-color: var(--color-bg-secondary-default);
        color: var(--color-text-disabled-default);
        cursor: not-allowed;
    }

    &[aria-selected="true"] {
        background-color: var(--color-surface-primary-default);
        color: var(--color-text-primary-default);
        border: 1px solid var(--color-text-primary-default);
    }
}
