// =============================================================================
// LAYOUT COMPONENT STYLES
// =============================================================================
@use "@/proto-design-system/mixins" as *;

.container {
  display: flex;
  width: 100%;
  height: 100dvh;
}

.content {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  transition: all var(--duration-slow) var(--ease-in-out);

  &--is-full-width {
    margin-left: calc(-1 * var(--space-12) * 3);
  }
}

.header {
  display: flex;
  align-items: center;
  align-content: center;
  padding: var(--space-7) var(--space-5);
  gap: var(--space-5);
  background-color: var(--color-base-50);
  border-bottom: 1px solid var(--color-border);
  min-height: var(--space-14);
}

.scrollArea {
  height: 100%;
  overflow-y: auto;
  padding: var(--space-5);
}

@include breakpoint-down(md) {
  .toggleButton {
    z-index: 5;
  }
}
