.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  padding: var(--space-3);
  background-color: var(--color-surface-primary-default);
  border-bottom: 1px solid var(--color-border-primary-default);
  flex-shrink: 0;
}

.main {
  flex: 1;
  overflow: auto;
  background-color: var(--color-bg-tertiary-default);
}
