
.root {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: var(--space-4);
	background-color: var(--color-base-100);
}

.form {
	width: 100%;
	max-width: 600px;
}
