@use "@/design-tokens/layout" as layout;

.root {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: layout.$spacing-05;
	background-color: var(--color-surface-secondary-default);
}

.form {
	width: 100%;
	max-width: 600px;
}
