@use "@/globalstyles/v2/layout.scss" as layout;
@use "@/globalstyles/v2/border.scss" as border;
@use "@/globalstyles/v2/colors.scss" as colors;

.progress-bar {
    display: flex;
    min-width: layout.$spacing-13 * 2;
    height: layout.$spacing-03;
    background: var(--color-bg-tertiary-default);
    //min-height: $spacing-6;
    border-radius: border.$border-radius-small;

    .progress-bar__line {
        //height: $spacing-6;
        border-radius: border.$border-radius-small;

        &--success {
            background-color: colors.$green-500;
        }

        &--warning {
            background-color: colors.$orange-500;
        }

        &--error {
            background-color: colors.$red-500;
        }

        &--info {
            background-color: colors.$blue-500;
        }
    }

    .progress-bar__percentage {
        margin-top: - layout.$spacing-06;
        //@extend .paragraph-x-small;
        color: var(--color-text-primary-default);
    }

    &--small {
        min-width: layout.$spacing-13;
    }

    &--medium {
        min-width: layout.$spacing-13;
    }

    &--large {
        min-width: layout.$spacing-13 * 2;
    }
}
