@use "@/globalstyles/v2/layout.scss" as layout;
@use "@/globalstyles/v2/colors.scss" as colors;

.radial-progress {
    border-radius: calc(infinity * 1px);
    display: flex;
    width: layout.$spacing-08;
    height: layout.$spacing-08;

    .center-content {
        background: white;
        width: 90%;
        height: 90%;
        border-radius: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;

        .percentage_text {
            color: var(--color-text-primary-default);
        }
    }

    &--small {
        width: layout.$spacing-08;
        height: layout.$spacing-08;

        .center-content {
            width: 85%;
            height: 85%;
        }
    }
    &--medium {
        width: layout.$spacing-09;
        height: layout.$spacing-09;

        .center-content {
            width: 90%;
            height: 90%;
        }
    }
    &--large {
        width: layout.$spacing-10;
        height: layout.$spacing-10;

        .center-content {
            width: 95%;
            height: 95%;
        }
    }

    &--info {
        background: conic-gradient(colors.$color-blue-500 var(--progress-percentage, 0), transparent var(--progress-percentage, 0));
    }
    &--success {
        background: conic-gradient(colors.$color-green-500 var(--progress-percentage, 0), transparent var(--progress-percentage, 0));
    }
    &--warning {
        background: conic-gradient(colors.$color-orange-500 var(--progress-percentage, 0), transparent var(--progress-percentage, 0));
    }
    &--error {
        background: conic-gradient(colors.$color-red-500 var(--progress-percentage, 0), transparent var(--progress-percentage, 0));
    }
}
