@use "@/globalstyles/v2/variables.scss" as *;

.content-card__container {
    display: flex;
    padding: $spacing-05;
    gap: $spacing-05;
    border-radius: $border-radius-large;
    border: $border-width-small solid var(--color-border-primary-default);
    width: $spacing-13 * 2;
    align-items: center;

    &:hover {
        //background-color: var(--color-hover-secondary);
        border: 1px solid var(--color-bg-primary-hover);
        transition: background-color $duration-moderate-01 $easing-productive-standard;
    }
}
