@use "@/proto-design-system/mixins" as *;

.root {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: var(--space-2);
    width: 100%;

    @include breakpoint-down(md) {
        grid-template-columns: repeat(2, 1fr);
    }
}

// Layout variants
.layout_horizontal {
    .container {
        display: flex;
        flex-flow: row wrap;
        gap: var(--space-2);
    }
}

.layout_vertical {
    .container {
        display: flex;
        flex-direction: column;
        gap: var(--space-2);
    }
}
