@use "@/design-tokens/layout" as layout;
@use "@/design-tokens/border" as border;
@use "@/design-tokens/motion" as motion;
@use "@/design-tokens/typography" as typography;

.dropdown-menu {
    display: flex;
    flex-direction: column;
    gap: layout.$spacing-02;
    background-color: var(--color-surface-primary-default);
    border-radius: border.$border-radius-medium;
    border: 1px solid var(--color-border-primary-default);
    padding: layout.$spacing-02;
    box-shadow: 0 layout.$spacing-02 layout.$spacing-04 var(--color-shadow-default);
    min-width: layout.$spacing-13 * 2;
    max-width: layout.$spacing-13 * 3;

    .dropdown-menu__item {
        display: flex;
        align-items:  baseline;
        gap: layout.$spacing-03;
        padding: layout.$spacing-02 layout.$spacing-03;
        border-radius: border.$border-radius-small;
        cursor: pointer;
        transition: background-color motion.$duration-moderate-01 motion.$easing-productive-entrance;

        &:hover {
            background-color: var(--color-bg-secondary-hover);
        }

        .dropdown-menu__icon {
            //font-size: 14px;
            //width: 20px;
            //height: 20px;
            //color: $color-neutral-600;
            flex-shrink: 0;
        }

        .dropdown-menu__label {
            font-size: typography.$font-size-sm;
            color: var(--color-text-primary-default)
        }

        .dropdown-menu__sublabel {
            font-size: typography.$font-size-xs;
            color: var(--color-text-secondary-default)
        }
    }

    .dropdown-menu__caption {
        padding: layout.$spacing-03;
        color: var(--color-text-tertiary-default);
    }
}
