@use "@/proto-design-system/mixins" as *;

.embed {
	max-width: 900px;
}

.iconWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	background-color: var(--color-bg-info-alpha);
	border-radius: var(--radius-md);
	color: var(--color-info);

	i {
		font-size: var(--font-size-lg);
	}
}
