//@import "@/globalstyles/variables";
@import "@/globalstyles/v2/variables";

.file-upload-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius-large;
    border: 2px dashed var(--color-border);
    &--light {
        background-color: var(--color-bg);
    }

    &--gray {
        background-color: var(--color-secondary-bg);
    }

    .file-upload-area__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $spacing-07;
        gap: $spacing-05;

        .fileuploadarea__icon {
            //font-size: 20px;
            //color: $color-neutral-600;
        }

        .fileuploadarea__title {
            display: flex;
            flex-direction: column;
            text-align: center;
            //@extend .label-small;
            //color: $color-neutral-950;

            .fileuploadarea_supported_meta {
                //@extend .paragraph-small;
                //color: $color-neutral-600;
            }
        }

        .fileuploadarea__filename {
            //@extend .paragraph-small;
            //color: $color-neutral-600;
        }
    }



    .file-upload-input {
        display: none;
    }
}
