@import "src/globalstyles/variables.scss";

.content-card__container {
    display: flex;
    padding: $spacing-16;
    gap: $spacing-16;
    border-radius: $radius-12;
    border: 1px solid $neutral-200;
    width: 300px;
    align-items: center;

    &:hover {
        background-color: $neutral-50;
        border: 1px solid $neutral-50;
        transition: background-color $transition-normal $transition-type-dissolve;
    }
}
