@use "@/design-tokens/layout" as layout;
@use "@/design-tokens/border" as border;

.progress-bar {
    display: flex;
    min-width: layout.$spacing-13 * 2;
    height: layout.$spacing-03;
    background: var(--color-bg-tertiary-default);
    //min-height: $spacing-6;
    border-radius: border.$border-radius-small;

    .progress-bar__line {
        //height: $spacing-6;
        border-radius: border.$border-radius-small;

        &--success {
            background-color: var(--color-success-default);
        }

        &--warning {
            background-color: var(--color-warning-default);
        }

        &--error {
            background-color: var(--color-error-default);
        }

        &--info {
            background-color: var(--color-info-default);
        }
    }

    .progress-bar__percentage {
        margin-top: -(layout.$spacing-06);
        color: var(--color-text-primary-default);
    }

    &--small {
        min-width: layout.$spacing-13;
    }

    &--medium {
        min-width: layout.$spacing-13;
    }

    &--large {
        min-width: layout.$spacing-13 * 2;
    }
}
