// ==============================
// Border Tokens
// ==============================

$border-width-small: 1px;  // Used only in interactive states
$border-width-medium: 2px; // Used in most components
$border-width-large: 4px;  // Used in large components like cards, modals, etc.


$border-radius-small: 4px;              // For small components like buttons
$border-radius-medium: 8px;             // For cards, inputs, etc.
$border-radius-large: 12px;
$border-radius-round: 999px;
