@import "src/globalstyles/variables.scss";

.hint-text {
    display: flex;
    gap: $spacing-4;
    color: $neutral-400;

    &--hide {
        display: none;
    }

    &--error {
        color: $red-500;
    }

    &--disabled {
        color: $neutral-200;
    }

    @extend .paragraph-x-small;

}
