@import "../../../globalstyles/variables";

// Mixins for button styles
@mixin button-filled-style($color, $hover-color, $focus-color) {
  background-color: $color;
  color: $neutral-100;
  &:hover {
    background-color: $hover-color;
  }
  &:disabled {
    background-color: $color-grey;
    color: $neutral-300;
    cursor: not-allowed;
    pointer-events: none;
  }
  &:focus {
    outline: 2px solid $neutral-0;
    @include box-shadow(0px, 0px, 0px, 2px, $focus-color);
  }
}

@mixin button-stroke-style($color, $hover-color) {
  background-color: transparent;
  border: 1px solid $color;
  color: $color;
  &:hover {
    background-color: $hover-color;
    border: none;
    transition: border $transition-normal $transition-type-dissolve;
  }
  &:disabled {
    background-color: $color-grey;
    color: $neutral-300;
    border: none;
    cursor: not-allowed;
    pointer-events: none;
  }
  &:focus {
    background-color: transparent;
    border: 1px solid $color;
    outline: 2px solid $neutral-0;
    @include box-shadow(0px, 0px, 0px, 2px, $hover-color);
  }
}

@mixin button-lighter-style($color, $hover-color) {
  background-color: $color;
  color: $hover-color;
  &:hover {
    border: 1px solid $hover-color;
    background-color: transparent;
  }
  &:disabled {
    background-color: $color-grey;
    color: $neutral-300;
    cursor: not-allowed;
    pointer-events: none;
  }
  &:focus {
    background-color: transparent;
    border: 1px solid $hover-color;
    outline: 2px solid $neutral-0;
    @include box-shadow(0px, 0px, 0px, 2px, $hover-color);
  }
}

@mixin button-ghost-style($color, $hover-color) {
  background-color: transparent;
  color: $color;
  border: none;
  &:hover {
    background-color: rgba($color, 0.1);
  }
  &:disabled {
    background-color: $color-grey;
    color: $neutral-300;
    cursor: not-allowed;
    pointer-events: none;
  }
  &:focus {
    background-color: transparent;
    border: 1px solid $color;
    outline: 2px solid $neutral-0;
    @include box-shadow(0px, 0px, 0px, 2px, $hover-color);
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  min-width: $spacing-64;
  transition: background-color $transition-normal $transition-type-dissolve;
  &--2x-small {
    gap: $spacing-2;
    border-radius: $radius-8;
    padding: $spacing-4 $spacing-6;
    height: 28px;
    @extend .label-small;
  }

  &--x-small {
    gap: $spacing-2;
    border-radius: $radius-8;
    padding: $spacing-6;
    height: 32px;
    @extend .label-small;
  }

  &--small {
    gap: $spacing-4;
    border-radius: $radius-8;
    padding: $spacing-8;
    height: 36px;
    @extend .label-small;
  }

  &--medium {
    gap: $spacing-4;
    border-radius: $radius-10;
    padding: $spacing-10;
    height: 40px;
    @extend .label-small;
  }

  &--icon-only {
    border-radius: $border-radius-8;
    height: 40px;
    width: 40px;
    padding: $spacing-6;
    gap: $spacing-2;
    @extend .label-small;
  }

  .button__text {
    height: 20px;
  }

  .button__icon {
    height: 20px;
    width: 20px;
    &--left {
      margin-right: $spacing-2;
    }

    &--right {
      margin-left: $spacing-2;
    }
  }
}

// Variant styles
.button--primary.button--filled {
  @include button-filled-style($blue-500, $blue-700, $blue-alpha-10);
}
.button--primary.button--stroke {
  @include button-stroke-style($blue-500, $blue-alpha-10);
}
.button--primary.button--lighter {
  @include button-lighter-style($blue-alpha-10, $blue-500);
}
.button--primary.button--ghost {
  @include button-ghost-style($blue-500, $blue-alpha-10);
}

.button--neutral.button--filled {
  @include button-filled-style($color-neutral, $neutral-800, $black-alpha-10);
}
.button--neutral.button--stroke {
  @include button-stroke-style($color-neutral, $black-alpha-10);
}
.button--neutral.button--lighter {
  @include button-lighter-style($black-alpha-10, $color-neutral);
}
.button--neutral.button--ghost {
  @include button-ghost-style($color-neutral, $black-alpha-10);
}

.button--error.button--filled {
  @include button-filled-style($red-500, $red-700, $red-alpha-10);
}
.button--error.button--stroke {
  @include button-stroke-style($red-500, $red-alpha-10);
}
.button--error.button--lighter {
  @include button-lighter-style($red-alpha-10, $red-500);
}
.button--error.button--ghost {
  @include button-ghost-style($red-500, $red-alpha-10);
}
