@import "src/globalstyles/variables.scss";

.dropdown {
    position: relative;
    display: flex;
    width: 280px;
    flex-direction: column;
    gap: $spacing-8;
    .dropdown__label-container {
        display: flex;
        align-items: center;
        //justify-content: space-around;
        gap: $spacing-4;
        padding: $spacing-4;

        .dropdown__label {
            @extend .label-small;
            color: $neutral-600;
        }
        .dropdown__optional {
            @extend .paragraph-small;
            color: $neutral-600;
        }

        .dropdown__tooltip {
            font-size: 16px;
            color: $neutral-600;
        }
    }

    .dropdown__select-container {
        display: flex;
        border-radius: $radius-10;
        border: 1px solid $neutral-200;
        padding: $spacing-10 $spacing-10 $spacing-10 $spacing-12;
        gap: $spacing-8;
        align-items: center;

        .dropdown__select {
            display: flex;
            width: 100%;
            gap: $spacing-8;
            align-items: center;
            border: none;
            background-color: transparent;
            color: $neutral-600;
            cursor: pointer;
            outline: none;
            @extend .paragraph-small;

            .dropdown__icon {
                font-size: 20px;
                color: $neutral-300;
                flex-shrink: 0;

                &:hover {
                    color: $neutral-400;
                    cursor: pointer;
                }
            }

            .dropdown__select__text {
                flex-grow: 1;
            }
        }

        &:hover, &--open {
            background-color: $neutral-100;
            transition: background-color, $transition-normal, $transition-type-dissolve;
        }

        &--disabled {
            background-color: $neutral-100;
            cursor: not-allowed;
            pointer-events: none;
            .dropdown__select__text {
                color: $neutral-300;
            }
        }

        &--error {
           border-color: $red-500;
        }
    }

    .dropdown__options-container {
        position: absolute;
        margin-top: $spacing-10;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        border-radius: $radius-10;
        border: 1px solid $neutral-200;
        padding: $spacing-10 $spacing-10 $spacing-10 $spacing-12;
        align-items: center;
        box-shadow: 0 2px 2px 0 $neutral-100;
        z-index: 1;
        transition: all $transition-slow $transition-type-dissolve;
    }

    .dropdown__hint {
        display: flex;
        gap: $spacing-4;
        color: $neutral-400;

        &--hide {
            display: none;
        }

        &--error {
            color: $red-500;
        }

        @extend .paragraph-x-small
    }
}
