@use "@/design-tokens/layout.scss" as layout;
@use "@/design-tokens/breakpoints.scss" as breakpoints;

.billing {
	display: flex;
	flex-direction: column;
	gap: layout.$spacing-02;
}

.billingButtons {
	display: flex;
	flex-direction: column;
	gap: layout.$spacing-05;

	@media (min-width: breakpoints.$breakpoint-sm) {
		flex-direction: row;
	}
}

.billingStatus {
	display: flex;
	flex-direction: row;
	gap: layout.$spacing-05;
	align-items: baseline;
}
