@use "@/proto-design-system/mixins" as *;

.billing {
	display: flex;
	flex-direction: column;
	gap: var(--space-1);
}

.billingButtons {
	display: flex;
	flex-direction: column;
	gap: var(--space-4);

	@include breakpoint(sm) {
		flex-direction: row;
	}
}

.billingStatus {
	display: flex;
	flex-direction: row;
	gap: var(--space-4);
	align-items: baseline;
}

.noSubscription {
	display: flex;
	flex-direction: column;
	gap: var(--space-4);
}

.noSubscriptionText {
	color: var(--color-base-content-secondary);
	margin-bottom: var(--space-2);
}

.plansGrid {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--space-4);

	@include breakpoint(sm) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include breakpoint(lg) {
		grid-template-columns: repeat(3, 1fr);
	}
}
