@use "@/globalstyles/v2/layout.scss" as layout;
@use "@/globalstyles/v2/border.scss" as border;
@use "@/globalstyles/v2/motion.scss" as motion;

.dropdown-menu {
    display: flex;
    flex-direction: column;
    gap: layout.$spacing-02;
    border-radius: border.$border-radius-large;
    border: 1px solid var(--color-border-primary-default);
    padding: layout.$spacing-03;

    .dropdown-menu__item {
        display: flex;
        align-items:  baseline;
        gap: layout.$spacing-03;
        padding: layout.$spacing-03;
        border-radius: border.$border-radius-large;
        cursor: pointer;
        transition: background-color motion.$duration-moderate-01 motion.$easing-productive-entrance;

        &:hover {
            background-color: var(--color-bg-secondary-hover);
        }

        .dropdown-menu__icon {
            //font-size: 14px;
            //width: 20px;
            //height: 20px;
            //color: $color-neutral-600;
            flex-shrink: 0;
        }

        .dropdown-menu__label {
            //@extend .paragraph-small;
            color: var(--color-text-primary-default)
        }

        .dropdown-menu__sublabel {
            //@extend .paragraph-x-small;
            color: var(--color-text-secondary-default)
        }
    }

    .dropdown-menu__caption {
        padding: layout.$spacing-03;
        //@extend .paragraph-small;
        color: var(--color-text-tertiary-default);
    }
}
