@use "@/globalstyles/v2/variables.scss" as *;

.dropdown-menu {
    display: flex;
    flex-direction: column;
    gap: $spacing-02;
    border-radius: $border-radius-large;
    border: 1px solid var(--color-border-primary-default);
    padding: $spacing-03;

    .dropdown-menu__item {
        display: flex;
        align-items:  baseline;
        gap: $spacing-03;
        padding: $spacing-03;
        border-radius: $border-radius-large;
        cursor: pointer;
        transition: background-color $duration-moderate-01 $easing-productive-entrance;

        &:hover {
            background-color: var(--color-bg-secondary-hover);
        }

        .dropdown-menu__icon {
            //font-size: 14px;
            //width: 20px;
            //height: 20px;
            //color: $color-neutral-600;
            flex-shrink: 0;
        }

        .dropdown-menu__label {
            //@extend .paragraph-small;
            color: var(--color-text-primary-default)
        }

        .dropdown-menu__sublabel {
            //@extend .paragraph-x-small;
            color: var(--color-text-secondary-default)
        }
    }

    .dropdown-menu__caption {
        padding: $spacing-03;
        //@extend .paragraph-small;
        color: var(--color-text-tertiary-default);
    }
}
