@use "@/design-tokens/layout" as layout;
@use "@/design-tokens/border" as border;
@use "@/design-tokens/motion" as motion;

.tab-menu-vertical-item {
    display: flex;
    align-items: baseline;
    border: none;
    //max-height: layout.$spacing-07;
    //width: 100%;
    padding: layout.$spacing-03;
    gap: layout.$spacing-03;
    //background-color: colors.$color-white;
    //color: colors.$color-neutral-600;
    border-radius: border.$border-radius-medium;

    &__text {
        vertical-align: center;
    }

    &__left-icon {
        //height: layout.$spacing-20;
        //width: layout.$spacing-20;
        //align-content: center;
        text-align: center;
    }

    &__right-icon {
        //height: layout.$spacing-20;
        //width: layout.$spacing-20;
        //align-content: center;
        text-align: center;
    }

    &__badge {
        //height: layout.$spacing-20;
        //width: layout.$spacing-20;
        align-content: center;
        vertical-align: center;
        text-align: center;
        border-radius: border.$border-radius-round;
        background-color: var(--color-error-default);
        color: var(--color-white);
    }

    &--active {
        background-color: var(--color-bg-secondary-default);
        color: var(--color-text-primary-default);

        .tab-menu-vertical-item__left-icon {
            color: var(--color-text-primary-default);
        }

    }

    &:hover {
        background-color: var(--color-bg-secondary-default);
        color: var(--color-text-primary-default);
        cursor: pointer;
        transition: background-color motion.$duration-moderate-01 motion.$easing-productive-entrance;
    }
}
