@use "@/design-tokens/layout" as layout;
@use "@/design-tokens/border" as border;
@use "@/design-tokens/motion" as motion;

.toggle-card__container {
    display: flex;
    padding: layout.$spacing-05;
    gap: layout.$spacing-05;
    border-radius: border.$border-radius-large;
    border: 1px solid var(--color-border);


    &:hover {
        //background-color: colors.$color-neutral-50;
        border: 1px solid var(--color-primary);
        transition: border motion.$duration-slow-02 motion.$easing-productive-entrance;
    }

    //.toggle-card__image {
    //    width: 40px;
    //    height: 40px;
    //    border-radius: $radius-full;
    //}
}
