@use "@/globalstyles/v2/layout.scss" as layout;
@use "@/globalstyles/v2/colors.scss" as colors;

.hint-text {
    display: flex;
    gap: layout.$spacing-03;
    align-items: center;
    color: var(--color-text-secondary-default);

    &--hide {
        display: none;
    }

    &--error {
        color: colors.$red-500;
    }

    &--disabled {
        color: var(--color-text-disabled-default);
    }

    //@extend .paragraph-x-small;

}
