@import "@/globalstyles/v2/variables";

.hint-text {
    display: flex;
    gap: $spacing-03;
    align-items: center;
    color: var(--color-secondary);

    &--hide {
        display: none;
    }

    &--error {
        color: $red-500;
    }

    &--disabled {
        color: var(--color-muted);
    }

    //@extend .paragraph-x-small;

}
