@import "@/globalstyles/v2/variables.scss";

.step-indicator-horizontal-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  gap: $spacing-03;
  color: var(--color-text-disabled-default);

  &--active, &--completed {
    color: var(--color-text-primary-default);
  }

  .step-indicator-horizontal-item__icon {
    height: $spacing-05;
    width: $spacing-05;
    align-content: center;
    vertical-align: center;
    text-align: center;
    border-radius: $border-radius-large;
    line-height: $spacing-03;
    &--completed {
      color: var(--color-text-inverse-default);
      background-color: $green-500;
      line-height: $spacing-05; // aligns icon vertically in the circle
    }
    &--active {
        color: var(--color-text-inverse-default);
        background-color: $blue-500;
    }

    &--default {
      border: 1px solid var(--color-border-primary-default);
    }
  }
}
