@import "../../../../globalstyles/v2/variables";

.step-indicator-horizontal {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-03;
  color: var(--color-muted);

  .step-indicator-horizontal__separator {
    padding-left: $spacing-03;
  }

  .step-indicator-horizontal__item {
    display: flex;
  }
}
