@import "@/globalstyles/v2/variables";

.step-indicator-horizontal-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  gap: $spacing-03;

  &--active, &--completed {
    //color: $color-neutral-600;
    color: var(--color-text);
  }

  .step-indicator-horizontal-item__icon {
    height: $spacing-05;
    width: $spacing-05;
    align-content: center;
    vertical-align: center;
    text-align: center;
    border-radius: $border-radius-large;

    &--completed {
      color: $color-white;
      background-color: $green-500;
      line-height: $spacing-05; // aligns icon vertically in the circle
    }
    &--active {
      color: $color-white;
        background-color: $blue-500;
    }

    &--default {
      border: 1px solid $color-neutral-300;
    }
  }
}
