@use "@/design-tokens/typography" as typography;

.sidebar__group {
    .sidebar__group-items {
        // display: flex;
        // flex-direction: column;
        // gap: $spacing-07;
        list-style: none;
        padding: 0;
        font-size: typography.$font-size-md;

        // height: 100vh;
    }
}
