@use "@/globalstyles/v2/layout.scss" as layout;
@use "@/globalstyles/v2/colors.scss" as colors;

.full-page {
  height: 100%;
  margin: 0;
  padding: 0;
}
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Add this CSS to your styles or a separate CSS file */

.spinner {
  border: 4px solid rgba(128, 128, 128, 0.2); /* Light grey border */
  border-top: 4px solid colors.$blue-500; /* Blue part */
  border-radius: 50%; /* Circular border */
  width: 50px; /* Size of the spinner */
  height: 50px; /* Size of the spinner */
  animation: spinPulse 2s linear infinite;
}

@keyframes spinPulse {
  0%, 100% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2); /* Spinner rotates halfway and scales up */
  }
  100% {
    transform: rotate(360deg) scale(1); /* Completes a full rotation and scales back to original */
  }
}
