@import "src/globalstyles/v2/variables";

.shell-container {
    margin-top: $spacing-03;
    //flex-shrink: 0;
    flex-grow: 1;
    overflow-y: auto;

    .grid-wide {
        //min-height: 100%
    }
}

.shell {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    gap: $spacing-05;

    .sidebar {
        align-self: flex-start;
    }
}
