@use "@/globalstyles/v2/variables.scss" as variables;

.container {
    display: flex;
    width: 100%;
    height: 100dvh;
}

.content {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    transition: all .4s ease-in-out;
    &--is-full-width {
        margin-left: -layout.$spacing-12 * 3;
    }
}

.header {
    //position: sticky;
    //top: 0;
    //z-index: 10;
    display: flex;
    align-items: center;
    align-content: center;
    padding: layout.$spacing-07  layout.$spacing-05;
    gap: layout.$spacing-05;
    background-color: var(--color-bg-tertiary-default);
    border-bottom: 0.5px solid var(--color-border-primary-default);

    height: layout.$spacing-09;
}


.scrollArea {
    //width: fit-content;
    height: 100%;
    overflow-y: auto;
    padding: layout.$spacing-05;
}

@media (max-width: 768px) {
    .toggleButton {
        z-index: 5;
    }
}
