@import "@/globalstyles/v2/module_variables";

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    align-content: center;
    padding: $spacing-07  $spacing-05;
    gap: $spacing-05;
    background-color: white;
    border-bottom: 0.5px solid $interactive-secondary-disabled-border;

    height: $spacing-09;
}


.scrollArea {
    height: calc(100vh - $spacing-09);
    overflow-y: auto;
    padding: $spacing-05;
}

@media (max-width: 768px) {
    .toggleButton {
        z-index: 5;
    }
}
