@use "@/design-tokens/layout" as layout;
@use "@/design-tokens/breakpoints" as breakpoints;

.header {
    display: flex;
    align-items: center;
    padding: layout.$spacing-02 layout.$spacing-04;
    gap: layout.$spacing-08;
    min-height: layout.$spacing-09;
    background-color: var(--color-surface-primary-default);
    //border-bottom: 1px solid var(--color-border);

    #nav-burger {
        margin-left: layout.$spacing-03;
    }
    &__logo {
        text-align: center;
    }

    &__nav {
        //margin-left: auto;
        display: none;
        align-items: center;
        gap: layout.$spacing-09;

        @media (min-width: breakpoints.$breakpoint-md) {
            display: flex;
        }
    }

     &__actions {
        margin-left: auto;
        display: flex;
         align-items: center;
        gap: layout.$spacing-04;
    }

    &__link, &__action-link {
        // Body styles are inherited globally from typography.scss
        &:focus-visible {
            outline: 2px solid var(--color-focus-ring-default);
            outline-offset: 2px;
        }
    }

    &__dropdown, &__action-dropdown {
        position: relative;
        cursor: pointer;

        .header__dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            background-color: var(--color-surface-primary-default);
            border: 1px solid var(--color-border);
            border-radius: 4px;
            box-shadow: 0 4px 8px var(--color-shadow-default);
            padding: 0.5rem 0;
            display: flex;
            flex-direction: column;
            min-width: 150px;
            z-index: 1000;

            .header__dropdown-item {
                padding: 0.5rem 1rem;
                color: var(--color-text-primary-default);
                text-decoration: none;

                &:hover {
                    background-color: var(--color-bg-secondary-hover);
                }
            }
        }
    }

    @media (min-width: breakpoints.$breakpoint-lg) {
        #nav-burger {
            display: none;
        }
    }
}

.header-container {
    //display: flex;
    //flex-direction: column;
    //height: 100%;
    .sidebar {
        position: absolute;
    }
}
