@use '../../../design-tokens/typography.scss' as typography;
@use '../../../design-tokens/layout.scss' as layout;
@use '../../../design-tokens/border.scss' as border;
@use '../../../design-tokens/shadow.scss' as shadow;

.checkout-container {
  // max-width: 800px;
  margin: 0 auto;
  padding: layout.$spacing-07;

  // background-color: var(--color-white);
  border-radius: border.$border-radius-medium;

  // box-shadow: shadow.$shadow-modal;
  background: var(--color-white);

  h2 {
    font-size: typography.$font-size-h3;
    font-weight: typography.$font-weight-semibold;
    margin-bottom: layout.$spacing-06;
    text-align: center;
    color: var(--color-text-primary-default);
  }
}


