@import '../../../globalstyles/v2/colors.scss';
@import '../../../globalstyles/v2/typography.scss';
@import '../../../globalstyles/v2/layout.scss';
@import '../../../globalstyles/v2/border.scss';
@import '../../../globalstyles/v2/shadow.scss';

.checkout-container {
  //max-width: 800px;
  margin: 0 auto;
  padding: $spacing-07;
  //background-color: $color-white;
  border-radius: $border-radius-medium;
  box-shadow: $shadow-modal;

  h2 {
    font-size: $font-size-h3;
    font-weight: $font-weight-semibold;
    margin-bottom: $spacing-06;
    text-align: center;
    color: $color-neutral-900;
  }
}


