@use "@/globalstyles/v2/variables.scss" as *;

.sidebar__group {
    .sidebar__group-items {
        //display: flex;
        //flex-direction: column;
        //gap: $spacing-07;
        list-style: none;
        padding: 0;
        font-size: 1rem;
        //height: 100vh;
    }
}
