@import "@/globalstyles/v2/variables.scss";

.sidebar__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing-03;
    padding: $spacing-03;

    &:hover {
        background-color: var(--color-bg-secondary-hover);
        border-radius: $border-radius-medium;
        transition: background-color $duration-slow-01 $easing-expressive-standard;
        cursor: pointer;
    }

    &.active {
        background-color: var(--color-bg-secondary-hover);
        border-radius: $border-radius-medium;
    }
}

.sidebar__item__link {
    text-decoration: none;
}
