@import "@/globalstyles/v2/variables";

.sidebar__content {
    display: flex;
    flex-direction: column;
    gap: $spacing-05;
    height: 100vh;
}

.sidebar__footer {
    margin-top: auto;
    margin-bottom: $spacing-07;
}
