@use "@/globalstyles/v2/layout.scss" as layout;
@use "@/globalstyles/v2/border.scss" as border;

.message-input-container {
    position: sticky;
    //align-items: center;
    align-content: center;
    //margin-bottom: layout.$spacing-05;
    bottom: layout.$spacing-05;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: layout.$spacing-05;

    .button {
        //flex-grow: 0;
        margin-left: auto;
        width: fit-content;
    }
}
.shimmer-block {
    display: inline-block;
    width: 20px;
    height: 16px;
    background: #f0f0f0;
    overflow: hidden;
    border-radius: 4px;
}

.shimmer {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f0f0f0 0%, #e0e0e0 50%, #f0f0f0 100%);
    animation: shimmer 1.2s infinite;
    background-size: 200% 100%;
}

@keyframes shimmer {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}


.typing-indicator {
    justify-content: center;
    align-items: center;
}


.chat-bubble-user {
    border-color: var(--color-border-primary-default);
    border-width: border.$border-width-small;
    border-radius: border.$border-radius-large;
    padding: layout.$spacing-05;
    min-height: layout.$spacing-12;
    margin-bottom: layout.$spacing-05;
    background: var(--color-surface-secondary-default);
}


.chat-bubble-ai {
    padding: layout.$spacing-06;
}

.chat-container {
    flex: 1; // take up available space
    padding-bottom: layout.$spacing-06;
}

.chat-wrapper {
    display: flex;
    height: 90dvh;
    flex-direction: column;
}
