@import "@/globalstyles/v2/module_variables";

.message-input-container {
    position: sticky;
    bottom: -$spacing-05;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: $spacing-05;
    padding-bottom: $spacing-09;

    .button {
        //flex-grow: 0;
        margin-left: auto;
        width: fit-content;
    }
}
.shimmer-block {
    display: inline-block;
    width: 20px;
    height: 16px;
    background: #f0f0f0;
    overflow: hidden;
    border-radius: 4px;
}

.shimmer {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f0f0f0 0%, #e0e0e0 50%, #f0f0f0 100%);
    animation: shimmer 1.2s infinite;
    background-size: 200% 100%;
}

@keyframes shimmer {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}


.typing-indicator {
    justify-content: center;
    align-items: center;
}


.chat-bubble-user {
    border-color: $interactive-primary-active-border;
    border-width: $border-radius-small;
    border-radius: $border-radius-large;
    padding: $spacing-05;
    min-height: $spacing-12;
    margin-bottom: $spacing-05;
    background: $color-neutral-100;
}


.chat-bubble-ai {
    padding: $spacing-06;
}

.chat-container {
    flex: 1; // take up available space
    padding-bottom: $spacing-06;
}

.chat-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
}
