@use "@/globalstyles/v2/layout.scss" as layout;

.tab-menu-horizontal ul {
    margin: 0;
    padding: 0 layout.$spacing-03;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: var(--color-border-primary-default);
    border-width: 1px 0;
    gap: layout.$spacing-05;
    align-items: start;

     li {
        padding-top: layout.$spacing-03;
        padding-bottom: layout.$spacing-03;
        display: flex;
        align-items: center;
        gap: layout.$spacing-03;
        color: var(--color-text-secondary-default);
        //@extend .label-small;
        cursor: pointer;

        &[aria-selected="true"] {
            background-color: var(--color-white);
            color: var(--color-text);
            border-style: solid;
            border-color: var(--color-text);;
            border-width: 0 0 2px 0;
        }
    }

    &__active-tab-indicator {
        //height: 2px;
        background-color: var(--color-text);
    }
}
