@use "@/design-tokens/layout" as layout;
@use "@/design-tokens/breakpoints" as breakpoints;

.shell-container {
    margin-top: layout.$spacing-03;

    // flex-shrink: 0;
    flex-grow: 1;
    overflow-y: auto;

    .grid-wide {
        // min-height: 100%
    }
}

.shell {
    min-height: 100vh;
    display: flex;
    flex-direction: row;


    .sidebar {
        align-self: flex-start;
    }

    @media (min-width: breakpoints.$breakpoint-lg) {
        gap: layout.$spacing-05;
    }
}
