.description {
    margin: 0;
    padding: 0;
    display: block;
    color: var(--color-text-tertiary-default);

    &--disabled {
        color: var(--color-text-disabled-default);
        cursor: not-allowed;
    }
}
