@use "@/globalstyles/v2/variables.scss" as *;
@use "@/globalstyles/v2/layout.scss" as layout;
@use "@/globalstyles/v2/border.scss" as border;
@use "@/globalstyles/v2/colors.scss" as colors;
@use "@/globalstyles/v2/layout.scss" as layout;
@use "@/globalstyles/v2/border.scss" as border;
@use "@/globalstyles/v2/colors.scss" as colors;

.toggle-labeled__container {
    display: flex;
    flex-direction: row;
    gap: layout.$spacing-05;
    min-width: layout.$spacing-13;

    &--reversed {
        flex-direction: row-reverse;

        .toggle-labeled__label-container {
            flex-grow: 1;
        }
    }

    &--disabled {
        .toggle-labeled__sublabel__string, .toggle-labeled__description__string {
            color: colors.$color-muted;
        }
    }
}
