@import "src/globalstyles/v2/variables.scss";

.toggle-labeled__container {
    display: flex;
    flex-direction: row;
    gap: $spacing-05;
    min-width: $spacing-13;

    &--reversed {
        flex-direction: row-reverse;

        .toggle-labeled__label-container {
            flex-grow: 1;
        }
    }

    &--disabled {
        .toggle-labeled__sublabel__string, .toggle-labeled__description__string {
            color: var(--color-muted);
        }
    }
}
