@import "src/globalstyles/v2/module_variables.scss";

.update-payment-element {
    display: flex;
    flex-direction: column;
    gap: $spacing-07;
}

.card-element {
    border-style: solid;
    border-width: $border-width-interactive;
    border-color: $interactive-primary-active-border;
    border-radius: $border-radius-medium;
    background: $color-neutral-100;
    padding: $spacing-05;
}
