@import "src/globalstyles/variables.scss";

.tab-menu-horizontal-item {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-6;
    color: $neutral-600;
    @extend .label-small;
    cursor: pointer;

    &__text {
        vertical-align: center;
    }

    &__left-icon {
        @extend .label-large;
        height: $spacing-20;
        width: $spacing-20;
        //align-content: center;
        //text-align: center;
    }

    &__right-icon {
        @extend .label-large;
        height: $spacing-20;
        width: $spacing-20;
        align-content: center;
        text-align: center;
    }

    &__badge {
        @extend .label-x-small;
        height: $spacing-20;
        width: $spacing-20;
        align-content: center;
        vertical-align: center;
        text-align: center;
        border-radius: $radius-full;
        background-color: $red-500;
        color: $neutral-0;
    }

    &--active {
        .tab-menu-horizontal-item__left-icon {
            color: $blue-500;
        }
    }
}
