@import "../../../globalstyles/colors";
@import "src/globalstyles/v2/variables.scss";

// Mixins for button styles
@mixin button-lighter-style($color, $hover-color) {
  background-color: transparent;
  color: $color;
  .linkbutton__text {
    color: $color;
    a {
      text-decoration: none;
    }
  }
  &:hover .linkbutton__text {
      text-decoration: underline;
      color: $hover-color;
  }
  &:disabled {
    color: $neutral-300;
    cursor: not-allowed;
    pointer-events: none;
  }
  &:focus .linkbutton__text {
    text-decoration: underline;
  }
}

.linkbutton {
  display: flex;
  align-items: baseline;
  //justify-content: center;
  border: none;
  cursor: pointer;
  transition: background-color $duration-moderate-01 $easing-productive-entrance;

  &--small {
    gap: $spacing-02;
    padding: $spacing-02;
    //@extend .label-small;
  }

  &--medium {
    gap: $spacing-03;
    padding: $spacing-03;
    //@extend .label-small;
  }

  &--underline {
    text-decoration: underline;
  }

  .button__icon {
    padding: 0 $spacing-01;
    &--left {
      margin-right: $spacing-01;
    }

    &--right {
      margin-left: $spacing-01;
    }
  }
}

// Variant styles
.linkbutton--primary.linkbutton--lighter {
  @include button-lighter-style($blue-500, $blue-700);
}

.linkbutton--gray.linkbutton--lighter {
  @include button-lighter-style($color-grey,$color-grey);
}

.linkbutton--neutral.linkbutton--lighter {
  @include button-lighter-style($color-neutral, $neutral-700);
}

.linkbutton--error.linkbutton--lighter {
  @include button-lighter-style($red-500, $red-700);
}
