@import "src/globalstyles/variables.scss";

.checkbox-labeled__container {
    display: flex;
    flex-direction: row;
    gap: $spacing-8;
    align-items: baseline;
    width: 300px;

    .checkbox-labeled__label-container {
        display: flex;
        flex-direction: column;
        gap: $spacing-10;
    }

    .checkbox-labeled__label {
        display: flex;
        gap: $spacing-4;
        align-items: center;
    }

    .checkbox-labeled__label__string {
        @extend .paragraph-small;
        color: $neutral-950;
    }

    .checkbox-labeled__sublabel__string {
        @extend .paragraph-x-small;
        color: $neutral-600;
    }

    .checkbox-labeled__description__string {
        @extend .paragraph-x-small;
        color: $neutral-600;
        width: 100%;
        overflow-wrap: break-word; // Break words to prevent overflow
        word-wrap: break-word; // For IE compatibility
        word-break: break-word; // Additional word break support
        white-space: normal; // Allow text to wrap normally
    }

    .checkbox-labeled__link {
        margin-left: - $spacing-8;
    }

    &--reversed {
        flex-direction: row-reverse;

        .checkbox-labeled__label-container {
            flex-grow: 1;
        }
    }

    &--disabled {
        .checkbox-labeled__sublabel__string, .checkbox-labeled__description__string {
            color: $neutral-200;
        }
    }
}


