@import "src/globalstyles/variables.scss";

.checkbox-container {
    display: inline-block;
    position: relative;
    padding: $spacing-2;

    .custom-checkbox-label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: white;
        border: 0.5px solid $neutral-200; /* Inner border color */
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0 2px 2px 0 $shadow-color-md;
        position: relative;

        .checkbox__icon {
            font-size: 20px;
            color: $neutral-0;
        }

        &::before {
            content: '';
            position: absolute;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            border: 3px solid $neutral-200; /* Outer border color */
            //border-radius: 13px;
            z-index: -1;

            &:hover {
                border-color: $neutral-300;
            }

            &:focus-within {
                border-color: $blue-700;
            }
        }

        &:hover {
            border-color: $neutral-300;
            &::before {
                border-color: $neutral-300;
            }
        }

        &:disabled + &:hover {
            pointer-events: none;
        }

        &:focus-within {
            border-color: $blue-600;
            &::before {
                border-color: $blue-600;
            }
        }

        &.indeterminate {
            background-color: $blue-500;
            border-color: $blue-500;
            box-shadow: none;

            &::before {
                border-color: $blue-500;
            }

            .checkbox__icon {
                display: block;
            }

            &:hover {
                background-color: $blue-600;
                border-color: $blue-600;
                &::before {
                    border-color: $blue-600;
                }
            }

            &:focus-within {
                background-color: $blue-700;
                border-color: $blue-700;
                &::before {
                    border-color: $blue-700;
                }
            }
        }

        &.checked {
            background-color: $blue-500;
            border-color: $blue-500;
            box-shadow: none;

            &::before {
                border-color: $blue-500;
            }

            .checkbox__icon {
                display: inline;
            }

            &:hover {
                background-color: $blue-600;
                border-color: $blue-600;
                &::before {
                    border-color: $blue-600;
                }
            }

            &:focus-within {
                background-color: $blue-700;
                border-color: $blue-700;
                &::before {
                    border-color: $blue-700;
                }
            }
        }

        // Works fine in all cases
        &.disabled {
            background-color: $neutral-200;
            border-color: $neutral-200;
            cursor: not-allowed;
            box-shadow: none;

            &::before {
                border-color: $neutral-200;
            }
        }

    }

    &--small .custom-checkbox-label {
        width: 12px;
        height: 12px;
        border-radius: 2px;

        &::before {
            border-radius: 2.6px;
        }

        .checkbox__icon {
            font-size: 13px;
        }
    }
}

.custom-checkbox-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
