@import "src/globalstyles/v2/variables";

.billing {
    display: flex;
    flex-direction: column;
    gap: $spacing-02;

}
.billing-buttons {
    display: flex;
    flex-direction: column;
    gap: $spacing-05;

    @media (min-width: $breakpoint-sm) {
        flex-direction: row;
    }
}

.billing-status {
    display: flex;
    flex-direction: row;
    gap: $spacing-05;
    align-items: baseline;
}
