@import "src/globalstyles/mixin.scss";
@import "src/globalstyles/variables.scss";

.sign-in-button {
    width: 100%;
    text-align: center;
    background-color: $color-background;
    color: #3b82f6;
    border: $border-base;
    border-radius: $border-radius-md;
    padding: 10px 20px;
    cursor: pointer;
    transition: box-shadow 0.3s, border-color 0.3s;
    &:hover {
        //background-color: darken($color-background, 2%);
        border-color: white;
        box-shadow: 0 0 0 2px $color-info;
        text-decoration: none;
    }
}

.button-container {
    display: flex;
}
