@import "src/globalstyles/variables.scss";

.login {
    display: flex;
    flex-direction: column;
    gap: $spacing-14;
    align-items: center;

    hr {
        margin-top: $spacing-12;
        width: 100%;
    }
}
