@use "@/design-tokens/layout" as layout;
@use "@/design-tokens/border" as border;
@use "@/design-tokens/motion" as motion;


.accordian {
  width: layout.$spacing-13 * 3;
  border-radius: border.$border-radius-large;
  border: border.$border-width-small solid var(--color-border-primary-default);
  padding: layout.$spacing-05;
  display: flex;
  cursor: pointer;
  text-align: left;
  gap: layout.$spacing-05;

  // transition: height $transition-extra-slow $transition-type-dissolve;

  &:hover {
    border-color: var(--color-bg-secondary-hover);
    background-color: var(--color-bg-secondary-default);
    transition: background-color motion.$duration-slow-01 motion.$easing-productive-entrance, border motion.$duration-slow-01 motion.$easing-productive-entrance;
  }
}

.accordian__title {
  flex: 1;
}

.accordian__content {
  margin-top: layout.$spacing-05;
  color: var(--color-text-secondary-default);
  white-space: normal;
}

.accordian__icon {
    flex: 0;

    // min-width: 20px;
    // height: 20px;
}


@media (width <= 768px) {
  .accordian {
    width: layout.$spacing-13  * 2;
  }
}


@media (width <= 480px) {
  .accordian {
    width: layout.$spacing-13;
  }
}
