@import "src/globalstyles/variables.scss";

.text-input {
    display: flex;
    flex-direction: column;
    gap: $spacing-4;

    &__input-container {
        display: flex;
        align-items: center;
        gap: $spacing-8;
        border: 1px solid $neutral-100;
        border-radius: $radius-10;
        padding: $spacing-10 $spacing-10 $spacing-10 $spacing-12;
        cursor: text;

        &__icon {
            height: 1em;
            width: auto; // Maintain aspect ratio
            max-height: 100%; // Ensure it doesn't exceed container height
            object-fit: contain; // Ensure the entire image is visible
            color: $neutral-400;
        }

        input {
            background: transparent;
            border: none;
            &:focus {
                outline: none;
            }
            flex-grow: 1;
            @extend .paragraph-small;
            color: $neutral-950;

            &::placeholder {
                color: $neutral-400;
            }

            &:disabled{
                cursor: not-allowed;
            }
        }

        &--disabled {
            background-color: $bg-weak-50;
            color: $neutral-300;
            cursor: not-allowed;
        }

        &--error {
            border: 1px solid $red-500 !important;
        }

        &:hover {
            background-color: $bg-weak-50;
            color: $neutral-600;

            &__icon {
                color: $neutral-600;
            }
        }

        &:focus-within {
            box-shadow: 0 0 0 4px $neutral-alpha-16, 0 0 0 2px $neutral-0;
            border: 1px solid $neutral-950;
            outline: 1px solid $neutral-0;
            color: $neutral-950;

            &:hover {
                background-color: $neutral-0;
            }

            .text-input__input-container__icon {
                color: $neutral-950;
            }
        }

    }

    &__hint {
        min-height: 1.3em;
    }


}
