// Breakpoints
$breakpoint-sm: 640px; // Small devices (landscape phones)
$breakpoint-md: 768px; // Medium devices (tablets)
$breakpoint-lg: 1200px; // Large devices (desktops)
$breakpoint-xl: 1680px;
