@import "@/globalstyles/v2/variables.scss";

@mixin feedback-style($color, $text-color, $link-color, $icon-color) {
  background-color: $color;
  color: $text-color;
  .feedback__link {
    color: $link-color;
  }

  .feedback__icon {
    color: $icon-color;
  }
  .feedback-detailed__buttons__separator {
    opacity: if($text-color == #ffffff, 0.72, 0.40);
  }
  .feedback__dismiss {
    opacity: if($text-color == #ffffff, 0.72, 0.40);
  }
}

.feedback {
  width: $spacing-13 * 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: $border-radius-large;

  .feedback__icon, .feedback__dismiss {
    align-content: center;
    cursor: pointer;
  }

  &--small {
    gap: $spacing-05;
    padding: $spacing-02 $spacing-03;
    .feedback__title {
      flex: 1;
      //@extend .paragraph-small
    }
  }

  &--x-small {
    gap: $spacing-03;
    padding: $spacing-01 $spacing-02;
    .feedback__icon, .feedback__dismiss {
      align-content: center;
      cursor: pointer;
    }

    .feedback__title {
      flex: 1;
      //@extend .paragraph-small
    }
  }

  &--large {
    gap: $spacing-05;
    padding: $spacing-05 $spacing-05;
    border-radius: $border-radius-large;
    align-items: baseline;

    .feedback-detailed__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: $spacing-02;
    }
    .feedback-detailed__text {
      display: flex;
      flex-direction: column;
      gap: $spacing-02;
    }

    .feedback__title {
      //@extend .label-small
    }
    .feedback__description {
      //@extend .paragraph-small
    }

    .feedback-detailed__buttons {
      display: flex;
      flex-direction: row;
      gap: $spacing-03;
      //Link buttons have default padding of 10px so we need to remove it
      margin-left: -10px;
      align-items: center;
    }
  }


  .feedback__description {
    //@extend .paragraph-small
  }


}


.feedback--error.feedback--filled {
  @include feedback-style($red-500, $color-white, $color-white,$color-white);
}
.feedback--success.feedback--filled {
  @include feedback-style($green-500, $color-white, $color-white, $color-white);
}
.feedback--warning.feedback--filled {
  @include feedback-style($orange-500, $color-white, $color-white, $color-white);
}
.feedback--info.feedback--filled {
  @include feedback-style($blue-500, $color-white, $color-white, $color-white);
}
.feedback--feature.feedback--filled {
  @include feedback-style($color-neutral-500, $color-white, $color-white, $color-white);
}

.feedback--error.feedback--light {
  @include feedback-style($red-200, $color-neutral-900, $color-neutral-900, $red-500);
}
.feedback--success.feedback--light {
  @include feedback-style($green-200, $color-neutral-900, $color-neutral-900, $green-500);
}
.feedback--warning.feedback--light {
  @include feedback-style($orange-200, $color-neutral-900, $color-neutral-900, $orange-500);
}
.feedback--info.feedback--light {
  @include feedback-style($blue-200, $color-neutral-900, $color-neutral-900, $blue-500);
}
.feedback--feature.feedback--light {
  @include feedback-style($color-neutral-200, $color-neutral-900, $color-neutral-900, $color-neutral-500);
}

.feedback--error.feedback--lighter{
  @include feedback-style($red-50, $color-neutral-900, $color-neutral-900, $red-500);
}
.feedback--success.feedback--lighter{
  @include feedback-style($green-50, $color-neutral-900, $color-neutral-900, $green-500);
}
.feedback--warning.feedback--lighter{
  @include feedback-style($orange-50, $color-neutral-900, $color-neutral-900, $orange-500);
}
.feedback--info.feedback--lighter{
  @include feedback-style($blue-50, $color-neutral-900, $color-neutral-900, $blue-500);
}
.feedback--feature.feedback--lighter{
  @include feedback-style($color-neutral-50, $color-neutral-900, $color-neutral-900, $color-neutral-500);
}

.feedback--error.feedback--stroke {
    @include feedback-style($color-white, $color-neutral-900, $color-neutral-900, $red-500);

    border: 1px $color-neutral-200 solid;

}
.feedback--success.feedback--stroke {
    @include feedback-style($color-white, $color-neutral-900, $color-neutral-900, $green-500);

    border: 1px $color-neutral-200 solid;
}
.feedback--warning.feedback--stroke {
    @include feedback-style($color-white, $color-neutral-900, $color-neutral-900, $orange-500);

    border: 1px $color-neutral-200 solid;
}
.feedback--info.feedback--stroke {
  @include feedback-style($color-white, $color-neutral-900, $color-neutral-900, $blue-500);

  border: 1px $color-neutral-200 solid;
}
.feedback--feature.feedback--stroke {
  @include feedback-style($color-white, $color-neutral-900, $color-neutral-900, $color-neutral-900);

  border: 1px $color-neutral-200 solid;
}
