@import "@/globalstyles/colors.scss";
@import "@/globalstyles/v2/variables.scss";

.progress-bar {
    display: flex;
    min-width: $spacing-13 * 2;
    height: $spacing-03;
    background: $neutral-100;
    //min-height: $spacing-6;
    border-radius: $border-radius-small;

    .progress-bar__line {
        //height: $spacing-6;
        border-radius: $border-radius-small;

        &--success {
            background-color: $green-500;
        }

        &--warning {
            background-color: $orange-500;
        }

        &--error {
            background-color: $red-500;
        }

        &--info {
            background-color: $blue-500;
        }
    }

    .progress-bar__percentage {
        margin-top: - $spacing-06;
        //@extend .paragraph-x-small;
        color: var(--color-text);
    }

    &--small {
        min-width: $spacing-13;
    }

    &--medium {
        min-width: $spacing-13;
    }

    &--large {
        min-width: $spacing-13 * 2;
    }
}
