@use "@/design-tokens/layout" as layout;

.label__container {
    display: flex;
    gap: layout.$spacing-03;
    align-items: center;

    .label__string {
        color: var(--color-text-primary-default);
        font-size: var(--font-size-label);
    }
}



