@use "@/globalstyles/v2/variables.scss" as *;

.tab-menu-vertical-sidebar {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: layout.$spacing-05;
    padding: layout.$spacing-05;
    width: layout.$spacing-13 * 2;

    &--card {
        border-radius: border.$border-radius-large;
        border: 1px solid colors.$color-neutral-200;
        //@extend .shadow-sm;
    }

    &__title {
        //@extend .subheading-x-small;
        color: colors.$color-neutral-400;
        text-transform: uppercase;
        padding:  layout.$spacing-03 layout.$spacing-05;
    }

    &__footer {
        //@extend .paragraph-x-small;
        color: colors.$color-neutral-400;
        text-align: center;
    }

    &__container {
        display: flex;
        flex:1;
        flex-direction: column;
        //gap: layout.$spacing-02;
        color: colors.$color-neutral-500;
        align-content: center;
        padding-left: 0;

        .tab-menu-vertical__item {
            display: flex;
        }
    }
}
