@import "src/globalstyles/variables.scss";

.progress-bar {
    display: flex;
    min-width: 320px;
    height: $spacing-4;
    background: $neutral-100;
    min-height: $spacing-6;
    border-radius: $spacing-4;

    .progress-bar__line {
        height: $spacing-6;
        border-radius: $radius-4;

        &--success {
            background: $green-500;
        }

        &--warning {
            background: $orange-500;
        }

        &--error {
            background: $red-500;
        }

        &--info {
            background: $blue-500;
        }
    }

    .progress-bar__percentage {
        margin-top: - $spacing-20;
        @extend .paragraph-x-small;
        color: $neutral-600;
    }
}
